In [6]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

In [7]:
import math

print(dir(math))

['__doc__', '__file__', '__name__', '__package__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'hypot', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [9]:
?math.log

In [16]:
math.log(10)

2.302585092994046

In [17]:
math.log(10,2)

3.3219280948873626

In [13]:
# Variable assignments
x = 1.0
my_variable = 12.2

In [14]:
type(x) # Floating number is just any number with a decimal

float

In [15]:
print(y)

NameError: name 'y' is not defined

In [22]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [21]:
isinstance(x, float)

True

In [29]:
x = 1.9 

x = int(x) # will always round down.

print(x, type(x))

(1, <type 'int'>)

In [30]:
# Integer division of float numbers
3.5 // 2.0

1.0

In [31]:
1+2, 1-2, 1*2, 1/2

(3, -1, 2, 0)

In [32]:
1.0+2.0, 1.0-2.0, 1.0*2.0, 1.0/2.0

(3.0, -1.0, 2.0, 0.5)

In [33]:
# The power operators in python isn't ^, it is **
2 ** 2

4

In [34]:
True and False

False

In [35]:
True or False

True

In [38]:
# Last one tests equality
2 == 2, 2 <= 2, 2 > 2, 2 is 2

(True, True, False, True)

In [1]:
# Check type
str1 = "Hello world"
type(str1)

str

In [2]:
# Check length
len(str1)

11

In [3]:
# type "str1." then hit tab to see a list of functions you can use. Use replace. This changes the first word for the second word
str2 = str1.replace("world","test")

print(str2)

Hello test

In [9]:
# You can index characters in a string
str1[0]

'H'

In [10]:
# You can index characters in a string (this returns nothing whenever the first and last are the same)
str1[0:0]

''

In [12]:
# You can index characters in a string (this returns the first letter) [start:end:step]
str1[0:1]

'H'

In [14]:
# the second number is included so this just shows the second letter. FIRST VALUE IS NOT INCLUDED
str1[1:2]

'e'

In [17]:
# Another example
str1[0:7]

'Hello w'

In [19]:
# You can create lists where each element can be any type you want
list1 = [1,2,3,4]

print(type(list1))
print(list1)

<type 'list'>
[1, 2, 3, 4]

In [22]:
# You can even index lists
print[list1[1:3]]

[[2, 3]]

In [25]:
# range generates numbers with a start and stop with a step value
start = 10
stop = 30
step = 2

range(start, stop, step)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [26]:
# you can convert a string to a list by type casting
str2 = list(str1)

str2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [27]:
# you can sort the values in str2 with the sort function
str2.sort()

print(str2)

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [31]:
# create a new empty list with the []
list1 = []

# add elements at the end
list1.append("A")
list1.append("d")
list1.append("d")

print(list1) # should show "Add"

['A', 'd', 'd']

In [32]:
# you can insert an element at a specific index using "insert"
list1.insert(0, "i")
list1.insert(1, "n")
list1.insert(2, "s")
list1.insert(3, "e")
list1.insert(4, "r")
list1.insert(5, "t")

print(list1) # should show "insertAdd"

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd']

In [33]:
# you can remove specific values
list1.remove("A")

print(list1) # should show "insertdd"

['i', 'n', 's', 'e', 'r', 't', 'd', 'd']

In [35]:
# you can remove elements at a specific location
del list1[7]

print(list1) # should show "insertd"

['i', 'n', 's', 'e', 'r', 't', 'd']

In [36]:
# Tuples are like lists. They are not modifiable. That means they are IMMUTABLE, unchangeable. They're read only and use ()
point = (10, 20)

print(point, type(point))

((10, 20), <type 'tuple'>)

In [37]:
# You can unpack a tuple (like unzipping a file) by assigning to a comma-separate list of variables
x, y = point

print("x =", x)
print("y =", y)

('x =', 10)
('y =', 20)

In [38]:
# you will get an error if you try to assign a new value to an element in the tuple
point[0] = 20

TypeError: 'tuple' object does not support item assignment

In [41]:
# dictionaries provide a way to do key-value pairs. They can be anything, even other dictionaries or any value type. Dictionary order doesn't matter.
params = {"parameter1":1.0,
          "parameter2":2.0,
          "parameter3":3.0}

print(type(params))
print(params)

<type 'dict'>
{'parameter1': 1.0, 'parameter3': 3.0, 'parameter2': 2.0}

In [43]:
# this should give me back the squared value. dictionaries are the most used and useful data type in python
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [45]:
# change parameter value
params["parameter1"] = "A"

# add a new parameter entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = 2.0
parameter3 = 3.0
parameter4 = D

In [50]:
# Else if, don't use brackets. They will indent with colons. INDENTS MATTER OR ELSE IT WON'T RUN
statement1 = False
statement2 = False
i=1

if(i==1):
    print("statement1 is True") # this is true

# Elif is "Else if". 
elif statement2:
    print("statement2 is True") # this will be false since statement2 is false.
    
else:
    print("statement1 and statement2 are False") # so then this will show up only if top 2 scenarios are false

statement1 is True

In [52]:
# If statement example
statement1 = statement2 = True

if statement1: # if true, then proceed
    if statement2: # if true, then proceed
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [53]:
# For loops. Iterate x from 1 to 3 and print each iterations.
for x in [1,2,3]:
    print(x)

1
2
3

In [54]:
# range does NOT include 4
for x in range(4):
    print(x)

0
1
2
3

In [55]:
# THIS CAN BE DONE FOR WORDS TOO
for word in ["scientific","computing","with","python"]:
    print(word)

scientific
computing
with
python

In [56]:
# you can iterate over key-value pairs of a dictionary. This shows every key items in your dictionary key with their values
# key is a temporary value for the sake of the loop. This will iterate over each item in params.
for key, value in params.items():
    print(key + " = " + str(value))

parameter4 = D
parameter 4 = D
parameter1 = A
parameter3 = 3.0
parameter2 = 2.0

In [58]:
# while loops
i = 0

while i < 5:
    print(i)
    
    i = 1 + i # If you don't make sure this isn't an infinite loop. So we are increasing i by 1.
    
print("done")

0
1
2
3
4
done

In [59]:
# defining a FUNCTION in python
def func0():
    print("test")

In [60]:
# now we will call the function
func0()

test

In [61]:
# we create a help menu for our own functions. """ is a multi line comment""" '''multi line string'''
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """
    str_new='''sdfasdf
    sdfasdf
    dfd'''
    
    print(s + " has " + str(len(s)) + " characters")

In [68]:
# call help menu
?func1()

In [69]:
# call actual function
func1("ten")

ten has 3 characters

In [72]:
# create a square function
def square(x):
    """
    Return the square of x
    """
    return x ** 2

In [73]:
square(4)

16