# Programming For Analytics
##### Â© Pratik Agrawal, 2016

## Combining Data, Transforming, and Graphing
- Combining Data
 - `shape`
 - `concat()`
 - `merge()`
- Transforming
 - `lambda`
 - `apply()`
 - `applymap()`
 - `groupby()`
- Graphing 
 - `matplotlib`
 - `plot()`
   - line plot
     - plot against indices
     - multiple data sets
   - launching plot inline/separate window
   - plot format strings
   - scatter plots
   - multiple plot windows
   - multiple plots in one window
   - legend
   - titles and grid
 - histograms
 - `seaborn`
- Exercises!
- Bonus : cleaning column names
 
 
## Combining Data
### 1. `shape`
We had a brief look at `dataframes` from `pandas` in the last class. Lets look at how we can find out the number of rows and columns in a given data set. Lets first discover the files `../data/aapl*`

In [ ]:
import glob
files_aapl = glob.glob('../programming-for-analytics-course-material/data/aapl*')

In [ ]:
files_aapl

Lets now read each of these files into a list using `pandas read_csv()`

In [ ]:
import pandas as pd

In [ ]:
list_of_aapl_df = []
for i in files_aapl:
    j = pd.read_csv(i,infer_datetime_format = True)
    list_of_aapl_df.append(j)

In [ ]:
?pd.read_csv

Lets take a look at each of the files that were read in-

In [ ]:
list_of_aapl_df[0].head()

In [ ]:
list_of_aapl_df[1].head()

In [ ]:
list_of_aapl_df[2].head()

Can we call `head()` on the variable `list_of_aapl_df` ?

In [ ]:
list_of_aapl_df.head()

So far we have been able to confirm that this is the required data. We should now check the dimensions of this data set-

In [ ]:
list_of_aapl_df[0].shape

In [ ]:
list_of_aapl_df[1].shape

In [ ]:
list_of_aapl_df[2].shape

### 2. `concat()`
In the last assignment you had to write a lot of code to probably concatenate the three files together. Lets see a simpler way to concatenate all the data frames-

In [ ]:
aapl_df = pd.concat(list_of_aapl_df)
aapl_df.head()

Lets confirm that all the data was concatenated-

In [ ]:
aapl_df.shape

What if we had read in the files into separate variables-

In [ ]:
df_aapl_1 = list_of_aapl_df[0]

In [ ]:
df_aapl_2 = list_of_aapl_df[1]

In [ ]:
df_aapl_3 = list_of_aapl_df[2]

Now we have to concatenate all these files. In order to do this you must remember that `concat()` function accepts a list of variables only, and not individual variables-

In [ ]:
aapl_df = pd.concat(df_aapl_1, df_aapl_2, df_aapl_3)

In [ ]:
aapl_df = pd.concat([df_aapl_1, df_aapl_2, df_aapl_3])
aapl_df.head()

In [ ]:
aapl_df.shape

### 3. `merge()`
Up until now we have seen how to concatenate data along an axis. What if we have to join the files on an variable/column.

Lets read in the Divvy data set files

In [ ]:
df_trips=pd.read_csv("../programming-for-analytics-course-material/data/Divvy_Trips_2013.csv", infer_datetime_format=True)
df_stations=pd.read_csv("../programming-for-analytics-course-material/data/Divvy_Stations_2013.csv")

#### Lets take a quick peek at the head for each data frame
*Remember that the head function has a default n=5. Which implies that it displays only the first 5 rows of the dataframe*

In [ ]:
df_trips.head()

In [ ]:
df_stations.head()

In [ ]:
cols_trips = list(df_trips.columns)
cols_trips

In [ ]:
cols_stations = list(df_stations.columns)
cols_stations

#### Join Number 1
Both *from* and *to* station ids in the trips dataset have static data in the second table (stations). In order to run calculations and google maps api queries etc. we need to join first for the *from_station_id* and second for the *to_station_id*

##### First lets check the shape of the trips dataset

In [ ]:
df_trips.shape

##### Now lets run the merge/join operation, and store the result in a new df

In [ ]:
df_from=pd.merge(df_trips,df_stations,left_on="from_station_id",right_on="id")

In [ ]:
?pd.merge

##### Lets check the shape again

In [ ]:
df_from.shape

In [ ]:
df_from.head()

#### Join Number 2

In [ ]:
df_divvy=pd.merge(df_from,df_stations,left_on="to_station_id",right_on="id")

##### Lets check the shape again

In [ ]:
df_divvy.shape

In [ ]:
df_divvy.head()

In [ ]:
list(df_divvy.columns)

#### Note that *pandas* automatically added the suffix \_x and \_y to the column names in conflict. In our example \_x represents details for the *from_station* and \_y represents details for the *to_station*

## Transforming

More often than not you will need to clean/transform your data. Running `for` loops is not going to be efficient. We will look at various functions that allow us to clean and transform the data quickly. 

### 1. `lambda`

Q. What is a lambda?

A. the 11th letter of the Greek alphabet

B. the craniometric point at the junction of the sagittal and lamboid sutures of the skull

C. the name of a series of Japanese rocket

D. anonymous (unbound) functions

In [ ]:
import math
 
def sqroot(x):
    """
    Finds the square root of the number passed in
    """
    return math.sqrt(x)
 
square_rt = lambda x: math.sqrt(x)

In [ ]:
sqroot(49)

In [ ]:
square_rt(49)

Lets read in the sandwiches data set

In [ ]:
df_best_sws = pd.read_csv('../programming-for-analytics-course-material/data/best-sandwiches.csv')

In [ ]:
df_best_sws.head()

### 2. `apply()`

Applies function along input axis of DataFrame.

In [ ]:
df_best_sws.price.head()

Lets get rid of the `$` sign

In [ ]:
df_best_sws['price'] = df_best_sws['price'].apply(lambda x: x.strip('$'))
df_best_sws.price.head()

If you notice there are still `.` symbols left in the data. Before we can use this price column for any calculations, we need to clean it up thoroughly.

In [ ]:
df_best_sws['price'] = df_best_sws['price'].apply(lambda x: x.strip('.'))
df_best_sws.price.head()

### 3. `applymap()`

Apply a function to a DataFrame that is intended to operate elementwise, i.e. like doing map(func, series) for each series in the DataFrame

In [ ]:
cols = ['description', 'address', 'sandwich','restaurant','full_address','formatted_address']

In [ ]:
df_best_sws[cols]

If we need to set filters for different pieces of text, our scripts will get thrown off when they encounter mixed case characters. So lets convert all text in the columns to lowercase

In [ ]:
df_best_sws[cols] = df_best_sws[cols].applymap(lambda x: x.lower())
df_best_sws.head()

### 4. `groupby()`

refers to a process involving one or more of the following steps

__*Splitting*__ the data into groups based on some criteria
__*Applying*__ a function to each group independently
__*Combining*__ the results into a data structure

Of these, the split step is the most straightforward. In fact, in many situations you may wish to split the data set into groups and do something with those groups yourself. In the apply step, we might wish to one of the following:

__*Aggregation*__: computing a summary statistic (or statistics) about each group. Some examples:

- Compute group sums or means
- Compute group sizes / counts

__*Transformation*__: perform some group-specific computations and return a like-indexed. Some examples:

- Standardizing data (zscore) within group
- Filling NAs within groups with a value derived from each group

__*Filtration*__: discard some groups, according to a group-wise computation that evaluates True or False. Some examples:

- Discarding data that belongs to groups with only a few members
- Filtering out data based on the group sum or mean

Some combination of the above: GroupBy will examine the results of the apply step and try to return a sensibly combined result if it doesnât fit into either of the above two categories

In [ ]:
import numpy as np
df_best_sws[df_best_sws.price==7.5]

In [ ]:
df_best_sws.groupby("price")

In [ ]:
def temp_func(mini_df):
    return pd.Series({"average_rank":np.mean(mini_df["rank"])})

In [ ]:
df_best_sws.groupby("price").apply(temp_func)

In [ ]:
df_best_sws["price"] = df_best_sws.price.convert_objects(convert_numeric=True)

In [ ]:
df_best_sws.price.dtype

In [ ]:
import matplotlib.pyplot as plt
%pylab inline
df_best_sws.price.hist()
plt.show()

## Graphing
### 1. `matplotlib`
`matplotlib` provides tons of tools for creating line plots, image plots, and even some 3D plots. When you write scripts using these tools, you will need to import the desired functions.  There are a couple of common approaches.  The first is to import the specific functions you want using:
    
    from matplotlib.pyplot import plot, subplot, figure, etc.

An alternative that is also used quite often is:
    
    import matplotlib.pyplot as plt

Using this approach, you can refer to the plot commands through the `plt` name such as `plt.plot`.


### 2. `plot()`

The **`plot`** command is the swiss army knife of plotting commands.  It defaults to creating line plots, but it is possible to control many different aspects of data display (marker types, color, transparency, etc.) through its key word arguments.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%pylab inline

#### line plot

#### plot against indices

When calling **`plot`** with a single argument (in this case `sin(x)`), the values of the array are used as the y values, and the indices of the array (0, 1, 2, ...) are used as the x axis.

In [ ]:
x = np.linspace(0, 2*np.pi, 50)
plt.plot(np.sin(x))
plt.show()

When calling plot with two arguments, the first is used as the x value, and the second is used as the y value.

In [ ]:
plot(x,sin(x))
plt.show()

#### multiple data sets

Calling **`plot`** with multiple argument pairs results in multiple lines within a plot.

In [ ]:
plot(x, sin(x), x, sin(2*x))
plt.show()

### 3. launching `plot()` inline/separate window
It is possible, however, to launch an external plot window from using the magic command **`%pylab qt`**. There are multiple benefits to external windows including much more interactive plots (zooming, panning, etc.).  You can use this window to experiment with the various toolbars.

In [ ]:
%pylab qt
plot(x, sin(x))
plt.show()

To switch back to inline plots, use the magic command **`%pylab inline`**.

In [ ]:
%pylab inline
plot(x, sin(x))

### 4. plot format strings

If and x,y data pair is followed by a string, it is interpreted as a format string for the line that allows you to specify color, line type, and marker type.  To see a full list of options for format strings, type **`plot?`** at the prompt.

In [ ]:
%pylab inline
plot(x, sin(x), 'r-^')
plt.show()

In [ ]:
plot(x, sin(x), 'b-o', x, sin(2*x), 'r-^')
plt.show()

### 5. scatter plots

The **`scatter`** function can create simple x, y scatter plots.

In [ ]:
import numpy as np
x = np.linspace(0, 2*pi, 50)
y = sin(x)
scatter(x,y)
plt.show()

In [ ]:
x = randn(200)
y = randn(200)
size = rand(200) * 30
color = rand(200)
scatter(x, y, size, color)
colorbar()
plt.show()

### 6. multiple plot windows

The **`figure`** function will create new plot windows (when not in the inline plot display mode in notebooks).  In notebooks, it simply creates two separate plots.

In [ ]:
%pylab qt
t = np.linspace(0, 2*pi, 50)
x = sin(t)
y = cos(t)

# create the first window
figure()
plot(x)
plt.show()

# create the second window.
figure()
plot(y)
plt.show()

### 7. multiple plots in one window

The **`subplot`** function allows you to position two separate plots within a single plot window.

In [ ]:
%pylab inline
x = array([1,2,3,2,1])
y = array([1,3,2,3,1])

subplot(3,1,1)
plot(x)

subplot(3,1,2)
plot(y)

subplot(3,1,3)
plot(x)

plt.show()

### 8. `legend`

The **`legend`** function will add a legend to plots, using the specified `label` keyword argument that was passed into each plot function.

In [ ]:
plot(sin(x), label='sin')
plot(cos(x), label='cos')
legend()
plt.show()

Here is an example where we have three lines, but have only labeled two.  **`legend`** is smart enough to only put the labeled lines into the legend.

In [ ]:
plot(sin(x), label='sin')
plot(sin(2*x))
plot(cos(x), label='cos')
legend()
plt.show()

If the plot functions have not assigned a label to the lines, then you can pass a list of labels to the **`legend`**.  The labels are assigned to the data sets in the same order they were added to the plot.

In [ ]:
plot(sin(x))
plot(cos(x))
legend(['sin', 'cos'])
plt.show()

### 9. titles and grid

In [ ]:
plot(x, sin(x))
xlabel('radians')
ylabel('amplitude', fontsize='large')
title('Sin(x)')
plt.show()

### 10. histograms

**`hist`** will create a histogram with 10 bins by default.  This can be changed by specifying the `bins` keyword argument.

Note that matplotlib's `hist` function can be slow on large data sets.  In these cases, it can be beneficial to use the `scipy.stats.histogram` method which is faster.  However, it only does the calculations. It'll be up to you to make the plot from the returned values.

In [ ]:
seed(13)
hist(randn(1000))

In [ ]:
hist(randn(1000))
plt.show()

In [ ]:
hist(randn(1000), 30)
hist(randn(100), 20)
plt.show()

### 11. `seaborn`

The `seaborn` library can make your graphs look better. You can compare this to `ggplot`

To install this library run-

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns

In [ ]:
hist(randn(1000))
plt.show()

In [ ]:
hist(randn(1000), 30)
hist(randn(100), 20)
plt.show()

## Exercises!

Run the following line before you start creating plots.

In [ ]:
aapl_df["Date"] = pd.to_datetime(aapl_df.Date)

This will convert the Date column of your data frame into a date time object, which allows `pandas` and `python` to provide 
- chronological ordering
- derived variables such as week of year, weekday, isweekday, isweekend, day of week etc.
- this also allows you to fit splines/interpolate data

### Q1.
We combined all the data for `aapl` in the first section. Lets try to plot a few columns. 
- plot `Date` v/s `Adj Close`
- plot `Date` v/s `High` & `Low` (in one graph, with different colors)
- plot `Date` v/s difference between `High` & `Low`

### Q2.
Is there a differnce in the trip times between `Customers` and `Subscribers` in the Divvy Dataset?
- Provided descriptive statistics for each segment

## Solutions
### Q1.

In [ ]:
plot(aapl_df.Date,aapl_df["Adj Close"])
plt.show()

In [ ]:
plot(aapl_df.Date,aapl_df.High,'b')
plot(aapl_df.Date,aapl_df.Low,'r')
plt.show()

In [ ]:
plot(aapl_df.Date,(aapl_df.High-aapl_df.Low))
plt.show()

### Q2.

In [ ]:
def descritive_statistics(mini_df):
    return mini_df.describe()

df_divvy.groupby("usertype").apply(descritive_statistics)["tripduration"]

In [ ]:
df_divvy.usertype.unique()

## Bonus
### cleaning column names

Why?

To avoid mismatch between joins and concatenates between different tables.

In [96]:
list(df_trips.columns)

['trip_id',
 'starttime',
 'stoptime',
 'bikeid',
 'tripduration',
 'from_station_id',
 'from_station_name',
 'to_station_id',
 'to_station_name',
 'usertype',
 'gender',
 'birthday']

In [97]:
df_trips.columns=[c.upper() for c in df_trips.columns]
list(df_trips.columns)

['TRIP_ID',
 'STARTTIME',
 'STOPTIME',
 'BIKEID',
 'TRIPDURATION',
 'FROM_STATION_ID',
 'FROM_STATION_NAME',
 'TO_STATION_ID',
 'TO_STATION_NAME',
 'USERTYPE',
 'GENDER',
 'BIRTHDAY']

In [98]:
list(df_stations.columns)

['id',
 'name',
 'latitude',
 'longitude',
 'dpcapacity',
 'landmark',
 'online date']

In [99]:
df_stations.columns=[c.upper() for c in df_stations.columns]
list(df_stations.columns)

['ID',
 'NAME',
 'LATITUDE',
 'LONGITUDE',
 'DPCAPACITY',
 'LANDMARK',
 'ONLINE DATE']

#### renaming columns

In [100]:
df_trips = df_trips.rename(columns={'TRIPDURATION': 'TRIP_DURATION', 
                        'BIKEID': 'BIKE_ID',
                        'STARTTIME': 'START_TIME',
                        'STOPTIME': 'STOP_TIME',
                        'USERTYPE': 'USER_TYPE'})
list(df_trips.columns)

['TRIP_ID',
 'START_TIME',
 'STOP_TIME',
 'BIKE_ID',
 'TRIP_DURATION',
 'FROM_STATION_ID',
 'FROM_STATION_NAME',
 'TO_STATION_ID',
 'TO_STATION_NAME',
 'USER_TYPE',
 'GENDER',
 'BIRTHDAY']