# Programming For Analytics
##### Â© Pratik Agrawal, 2016

### Compound Data Types

- Lists
 - List Objects
 - Range
 - Indexing
 - Slicing
 - Operations on Lists
 - Heterogenous Lists
 - List Methods
 - Exercises!
- Dictionaries
 - Keys
 - get()
 - del
 - Miscellaneous
 - Exercises! 
- Sets
 - Construction
 - Examples
 - Set Operations
   - union()
   - intersection()
   - difference()
   - symmetric_difference()
   - issubset()/issuperset()
   - isdisjoint()
   - add()
   - update()
   - remove()
   - discard()
 - frozenset
 - Exercises!
- List Comprehensions
 - Generator Expressions
 - Exercises!

 
## Lists
List is an ordered sequence of any kind of object, and is the workhorse data structure in Python

### List Objects
Use square brackets to create a list

In [ ]:
list_1 = [0, 1, 2, 3, 4]
print list_1

You can concatenate lists with a `+` sign

In [ ]:
[0, 1] + [2, 3, 4]

You can multiply a list by an integer to create a repeating sequence

In [ ]:
[0, 1] * 4

### Range
Creating a sequential list by manually typing in all items can be tedious. Lets take a shortcut by using a built-in function - `range()`

In [ ]:
range(5)

`range()` accepts a single number or 2 numbers or 3 numbers-

`range(x,y)` - will print numbers from `x` through `y`

`range(x,y,step)` - will print numbers from `x` through `y` in steps of `step`

In [ ]:
range(2,7)

In [ ]:
range(2,7,2)

### Indexing
To select the first element of a list use an index of `0`

In [ ]:
list_1 = [1, 2, 3, 4, 4]
list_1[0]

To select the last element in the list use the index `-1`

In [ ]:
list_1[-1]

### Change an element in the list

In [ ]:
list_1[-1]=5
list_1

### Slicing

In [ ]:
list_1 = [1, 2, 3, 4, 4]
list_1[1:3]

You can also use negative indices

In [ ]:
list_1[1:-2]

To get the first `n` items of the list

In [ ]:
n=3
list_1[:n]

Overwriting a sequence of items in the list is as simple as-

In [ ]:
list_1[1:3] = [6, 7, 8, 9]
list_1

The above operation will use the slice `1:3` and replace it with the new list, thereby extending the original list

### Operations on Lists
The `len()` function

In [ ]:
list_1 = [1, 2, 3, 4, 4]
len(list_1)

Delete an item from a list

In [ ]:
del list_1[-1]
list_1

One very useful operation is using the `in` keyword. This allows you to test whether a value is present in the list-

In [ ]:
list_1 = [1, 2, 3, 4, 4]
3 in list_1

In [ ]:
5 in list_1

In [ ]:
5 not in list_1

In [ ]:
3 not in list_1

### Heterogenous Lists
Lists can hold multiple datatypes

In [ ]:
list_2 = [1, [2, 3], "word"]

In [ ]:
list_2[1]

In [ ]:
list_2[2]

If you want to access an item within a list which itself is in a list. In this case the list `[2, 3]` is within the list `list_2`

In [ ]:
list_2[1][0]

### List Methods
- `append()` - will add a new element to the list

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1

In [ ]:
list_1.append(6)
list_1

What if you would like to extend this list with another list?

In [ ]:
list_2 = [7, 8, 9]
list_2

In [ ]:
list_1.extend(list_2)
list_1

However if you try to `append()` the second list?

In [ ]:
list_3 = [10, 11]
list_3

In [ ]:
list_1.append(list_3)
list_1

- `count()` - will count the occurences of a particular item

In [ ]:
list_1 = [1, 2, 3, 4, 5, 4, [4, 7, 4, 4, 4, 4]]
list_1

In [ ]:
list_1.count(4)

In [ ]:
list_1[-1].count(4)

You have to define the scope where the `count()` function should look for values. It will only search in the current list specified.
- `insert()` - inserts a value at a specified index

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1

In [ ]:
list_1.insert(1, 22)
list_1

This in effect moves the item at index 1, and inserts the new element at the index 1.

*Inserting an element will extend the length of the list*

- `remove()` - allows you to remove an element at a particular index of a list

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1

In [ ]:
list_1.remove(2)
list_1

- `pop()` - remove just got rid of the element without showing you what it got rid of. `pop()` shows you what it got rid of.

In [ ]:
#list_1 = [1, 2, 3, 4, 5]
list_1

In [ ]:
list_1.pop(2)

- `del` - is similar to remove, but it is not a function of lists, it is an independent keyword

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1

In [ ]:
del list_1[2]
list_1

- `sort()` - as it says, sorts the list. This function will sort the list in place, which means the original list will get modified and will have sorted items after carrying out this operation

In [ ]:
list_1 = [1, 4, 3, 2, 5]
list_1

In [ ]:
list_1.sort()
list_1

If you would like to sort a list without affecting the stored list permanently-

In [ ]:
list_1 = [1, 4, 3, 2, 5]
list_1

In [ ]:
list_2 = sorted(list_1)
list_2

In [ ]:
list_1

- `reverse()` - reverses the contents of the list in place. Which means the list gets affected permanenly

In [ ]:
list_1 = [1, 4, 3, 2, 5]
list_1

In [ ]:
list_1.reverse()
list_1

*Remember- reversing does not mean reversing and sorting. It only reverses the contents of the list*

To reverse the contents without affecting the list permanently

In [ ]:
list_1 = [1, 4, 3, 2, 5]
list_1

In [ ]:
list_1[::-1]

### Exercises
1. Create a list `cw_1` with the elements `13, 15, 19, 11, 5`. Maintain the ordering as provided in the question.
2. Modify the first and last element of the list to be `15`
3. Use list methods for the following-
 - Add `17` to the end of the list
 - How many times does `15` occur in the list?
 - Extend your original list with the list `["hey", 19]`
 - What is the location of the first `19`?
 - Insert `23` as the 4th element in the list (*Hint: Indexing starts at `0`*)
 - Remove the third element, and print the value removed. Accomplish this with one function call (*Hint: Indexing starts at `0`*)
 - Sort the list, but do not do this in-place.
 - Reverse the list, but do not do this in-place.
 - Calculate the length of the list
 - Test to see if `19` is in the list
4. From the (few lines) of the poem- 
   <br>`lyrics= '''the wind was a torrent of darkness among the gusty trees   
   the moon was a ghostly galleon tossed upon cloudy seas   
   the road was a ribbon of moonlight over the purple moor   
   and the highwayman came riding 
   riding riding 
   the highwayman came riding, up to the old inn-door 
   '''`
   <br>Print out all words beginning with `r`
   <br>*Hint: Use the split function - lyrics.split to split the sentence into a list of words*
   
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
### Solutions
1.

In [ ]:
cw_1 = [13, 15, 19, 11, 5]
cw_1

<br>
<br>
2.

In [ ]:
cw_1[0] = 15
cw_1[-1] = 15
cw_1

<br>
<br>
3.

In [ ]:
cw_1.append(17)
cw_1

<br>
<br>

In [ ]:
cw_1.count(15)

<br>
<br>

In [ ]:
cw_1.extend(["hey",19])

In [ ]:
cw_1

<br>
<br>

In [ ]:
cw_1.index(19)

<br>
<br>

In [ ]:
cw_1.insert(3,23)
cw_1

<br>
<br>

In [ ]:
sorted(cw_1)

<br>
<br>

In [ ]:
#[start:stop:step_size]
cw_1[::-1]

<br>
<br>

In [ ]:
len(cw_1)

<br>
<br>

In [ ]:
19 in cw_1

<br>
<br>

In [ ]:
lyrics= '''the wind was a torrent of darkness among the gusty trees   
the moon was a ghostly galleon tossed upon cloudy seas   
the road was a ribbon of moonlight over the purple moor   
and the highwayman came riding 
riding riding 
the highwayman came riding, up to the old inn-door 
'''

In [ ]:
words = lyrics.split(' ')

In [ ]:
for word in words:
    if word.startswith('r'):
        print word

 
<br>
<br>
<br>
## Dictionaries
For those unfamiliar with Python dictionaries, we can use an actual dictionary as a mental model. In a dictionary you have words, and those words have definitions that are associated with them. You might have multiple definitions, but they are all associated with one word's entry in the dictionary.
<br>This maps to the data structure very well: each entry is a key-value pair, where the keys are the words, and the values are the definitions. If there are multiple definitions, you might instead have a list of definitions instead of a single definition for the value, but the idea is the same.
<br>So in Python we can create an empty dictionary with a pair of braces (curly brackets):

In [ ]:
dict_1 = {}

Adding entries to a dictionary is as simple as-

In [ ]:
dict_1["word-one"] = "meaning-one"
dict_1

In [ ]:
dict_1["word-two"] = "meaning-two"
dict_1

You can look up dictionary values with-

In [ ]:
dict_1["word-one"]

### What can be a key?
- Values in a dictionary can be anything, however keys have to be immutable.
- numbers and strings are commonly used as keys.
- tuples and frozensets are used as keys as well.
- lists and dictionaries are not allowed as keys, as they are mutable.

### `get()`
values in dictionaries can also be accessed via the `dict.get()` fucntion

In [ ]:
dict_1.get('word-one')

### `del`
the `del` keyword allows for removing items from dictionaries, just like in `lists`. You will have to specify the key of the item you want to delete

In [ ]:
dict_1

In [ ]:
del dict_1['word-two']
dict_1

### `in` keyword
you can use the `in` keyword to check if a key is present in the dictionary

In [ ]:
dict_1

In [ ]:
dict_1["word-two"] = "meaning-two"
dict_1

In [ ]:
'word-one' in dict_1

### `keys()`
this method shows you all the keys present in a dictionary

In [ ]:
dict_1.keys()

### `values()`
this method shows you all the values present in a dictionary

In [ ]:
dict_1.values()

### `update()`
this function allows you to add an existing dictionary to another dictionary

In [ ]:
dict_2 = {}
dict_2["word-three"] = "meaning-three"
dict_2["word-four"] = "meaning-four"
dict_2

In [ ]:
dict_1.update(dict_2)
dict_1

### Exercises
Mark keeps a list of the people he knows in several dictionaries 
based on their relationship to him-

friends = {'julius': '100 via apian', 'cleopatra': '000 pyramid parkway'}
   
romans = dict(brutus='234 via tratorium', cassius='111 aqueduct lane')

countrymen = dict([('plebius','786 via bunius'), ('plebia', '786 via bunius')])

1. Print names of all friends
2. Print all addresses
3. Print all as pairs, i.e. name with address
4. Unfortunate incident happened. Remove the friend Julius from the list.
5. Mark is making a second party, add everyone to single dictionary.
6. Mark will be going to Egypt, and might visit Cleopatra. `get` her address.
<br>
<br>
<br>
<br>
<br>
<br>

### Solutions

1.

In [ ]:
friends = {'julius': '100 via apian', 'cleopatra': '000 pyramid parkway'}
romans = dict(brutus='234 via tratorium', cassius='111 aqueduct lane')
countrymen = dict([('plebius','786 via bunius'), ('plebia', '786 via bunius')])

In [ ]:
print "friend names: ", friends.keys()

<br>
<br>
2.

In [ ]:
print "addresses: ", friends.values(), romans.values(), countrymen.values()

<br>
<br>
3.

In [ ]:
print "friend (name,address): ", friends.items()

<br>
<br>
4.

In [ ]:
del friends["julius"]
friends

<br>
<br>
5.

In [ ]:
mail_dict = {}
mail_dict.update(friends)
mail_dict.update(romans)
mail_dict.update(countrymen)
mail_dict

<br>
<br>
6.

In [ ]:
mail_dict.get("cleopatra")

<br>
<br>
<br>
## Sets
Sets are similar to lists in that they are a collection of items as well. However, `sets` are unordered. 
<br>For our example `list_1 = [1, 2, 3, 4, 2]`, if we were to declare this as a `set`, then everything would be fine till we reach `4`, after that it encounters a `2`, which it already has. This repeated value will not be stored in the `set`. 
<br>
#### You cannot have duplicates in a `set`
Therefore `sets` enforce uniqueness in the values stored. 
#### Another difference that sets (pun intended) them apart from lists is that they are immutable. 
Therefore you cannot store `lists` and `dictionaries` in the `set`
<br>
### Construction
`sets` can be constructed with the `set()` function

In [ ]:
set_1 = set()
set_1

Lets try using a list, and cast that to a `set`

In [ ]:
list_1 = [1, 2, 3, 4, 2]
list_1

In [ ]:
set_1 = set(list_1)
set_1

- You will notice from the above that the duplicate value was removed
- Curly braces represent sets, however they cannot be used to declare an empty set such as- `set_1 = {}`.
- Curly braces can be used to declare a set with some values such as- `set_1 = {1, 2, 3, 4, 2}`.

In [ ]:
set_1 = {}
print set_1
type(set_1)

In [ ]:
set_1 = {1, 2, 3, 4, 2}
type(set_1)

- Dictionaries have been around way before `sets` and have always used `{}` to declare a new `dict`.
- Always use the function `set()` to declare a new set, or cast/convert an existing `list` to `set`
<br>
### Examples
Removing duplicates from a list of email addresses

In [ ]:
email_list = ['capn@avengers.com', 'thor@avengers.com', 'capn@avengers.com',
              'super_m@league.com', 'b_widow@avengers.com',
              'b_man@league.com', 'b_widow@avengers.com']

In the above list the email addresses `capn@avengers.com` and `b_widow@avengers` have been repeated. You can use `set()` to get rid of duplicates

In [ ]:
emails = set(email_list)
emails

<br>
### Set Operations

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4, 5, 6}

##### Sets are like their mathematical counterparts
You should be able to perform similar functions as the math operations performed on sets

### `union()` 
- creates a single set with unique values from `set_1` and `set_2`, while removing duplicates

In [ ]:
set_3 = set_1.union(set_2)
set_3

`set` operations are similar to binary operations, and you should be able to use the operators such as - `|`

In [ ]:
set_3 = set_1 | set_2
set_3

### `intersection()`
- creates a `set` containing the intersection of two sets. Alternatively, it creates a `set` with values found in both sets

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4, 5, 6}

In [ ]:
set_3 = set_1.intersection(set_2)
set_3

You can also use the binary operator `&`

In [ ]:
set_3 = set_1 & set_2
set_3

### `difference()`
This function gives all the elements which are present in `set_1` and not in `set_2`

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4, 5, 6}

In [ ]:
set_3 = set_1.difference(set_2)
set_3

you can also use the `-` (minus) operator

In [ ]:
set_3 = set_1 - set_2
set_3

*However, `set_3 = set_1 - set_2` is not the same as `set_3 = set_2 - set_1`*

###  `symmetric_difference()`
This function provides all the elements present in set_1 and set_2 which are not also present in both-

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4, 5, 6}

In [ ]:
set_3 = set_1.symmetric_difference(set_2)
set_3

In [ ]:
set_3.symmetric_difference_update({6,1})
set_3

You can also use `^` to run a `symmetric_difference`

In [ ]:
set_3 = set_1 ^ set_2
set_3

### `issubset()`
You can use this function to check if a set of values is contained with another set

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4}

In [ ]:
set_2.issubset(set_1)

In [ ]:
set_1.issubset(set_2)

Alternatively you can also use `<=`

In [ ]:
set_2 <= set_1

In [ ]:
set_1 <= set_2

### `issuperset()`
This function tests the opposite condition of `issubset()`

In [ ]:
set_1 = {1, 2 ,3, 4}
set_2 = {3, 4}

In [ ]:
set_1.issuperset(set_2)

In [ ]:
set_2.issuperset(set_1)

Alternatively you can use `>=`

In [ ]:
set_1 >= set_2

In [ ]:
set_2 >= set_1

### `isdisjoint()`
This functions tests if the two sets being compared do not have any values in common

In [ ]:
set_1 = {1, 2, 3, 4}
set_2 = {5, 6, 7, 8}
set_3 = {3, 4, 5, 6}

In [ ]:
set_1.isdisjoint(set_2)

In [ ]:
set_1.isdisjoint(set_3)

### `add()`
In lists you used the functions `append()` and `extend()` to add elements but because `sets` are unordered the function name is different-

In [ ]:
set_1 = {1, 2, 3, 4}
set_1

In [ ]:
set_1.add(5)
set_1

Try adding a value that is already present in the set

In [ ]:
set_1.add(5)
set_1

### `update()`
This function can be used to add a collection of values to an existing set

In [ ]:
list_1 = [5, 6, 7]
list_1

In [ ]:
set_1

In [ ]:
set_1.update(list_1)
set_1

### Removing elements from a set
There are three ways to remove elements from a set<br>
### `remove()`
this function works similar to how the `list.remove()` function works

In [ ]:
set_1

In [ ]:
set_1.remove(7)
set_1

However if you try to remove an element that is not present in the set-

In [ ]:
set_1.remove(7)

### `discard()`
this function will remove an element from the set, however if the element does not exist, it will not throw a `KeyError`

In [ ]:
set_1.discard(6)
set_1

In [ ]:
set_1.discard(6)
set_1

### Frozen sets
If someone asks you to create a dictionary with the distance between pairs of cities, you would use a `dict`.
A `dict` is comprised of a `key`:`value` pair. For the `key` you could use `sets`

In [ ]:
distance = {}

In [ ]:
c_pair = {'LAX','NYC'}
distance[c_pair] = 2498

#### Only immutable data-types can be used as a `key`. 
You can use a special `set` called `frozenset`

In [ ]:
c_pair = frozenset(['LAX','NYC'])
distance[c_pair] = 2498

In [ ]:
distance[frozenset(['ORD','NYC'])] = 733
distance[frozenset(['ORD','LAX'])] = 1746

Now to check the distance between ORD and NYC

In [ ]:
distance[frozenset(['ORD','NYC'])]

In [ ]:
distance[frozenset(['NYC','ORD'])]

Like mentioned before, in sets the ordering does not matter which is why even though we stored the distance for ORD to NYC, we can query the dictionary for NYC to ORD

### Exercises

An Airline flies between the following cities (with distances):

<pre>
    Atlanta-Chicago:                    590.0
    Atlanta-Dallas:                     720.0
    Atlanta-Houston:                    700.0
    Atlanta-New York:                   750.0
    Austin-Dallas:                      180.0
    Austin-Houston:                     150.0
    Boston-Chicago:                     850.0
    Boston-Miami:                      1260.0
    Boston-New York:                    190.0
    Chicago-Denver:                     920.0
    Chicago-Houston:                    940.0
    Chicago-Los Angeles:               1740.0
    Chicago-New York:                   710.0
    Chicago-Seattle:                   1730.0
    Dallas-Denver:                      660.0
    Dallas-Los Angeles:                1240.0
    Dallas-New York:                   1370.0
    Denver-Los Angeles:                 830.0
    Denver-New York:                   1630.0
    Denver-Seattle:                    1020.0
    Houston-Los Angeles:               1370.0
    Houston-Miami:                      970.0
    Houston-San Francisco:             1640.0
    Los Angeles-New York:              2450.0
    Los Angeles-San Francisco:          350.0
    Los Angeles-Seattle:                960.0
    Miami-New York:                    1090.0
    New York-San Francisco:            2570.0
    San Francisco-Seattle:              680.0
</pre>

We can represent this data in a dictionary mapping the pair of cities to the distance between them. Because the distance between cities isn't directional information, a set of the cities (without any order) seems like the right way to store the keys (pairs of cities). 

#### 1.  
Do you remember why a regular set cannot be a key in a dictionary? We will therefore use frozen sets instead. Build a frozen set with Atlanta and Chicago and another one with Atlanta and Dallas. Make a dictionary called `flight_distances` mapping these sets to their distances (590 and 720 respectively).
#### 2. 
The full dictionary `flight_distances`. Use it to print the distance from Seattle to Chicago.

In [ ]:
flight_distances = {
    frozenset(['Atlanta', 'Chicago']): 590.0,
    frozenset(['Atlanta', 'Dallas']): 720.0,
    frozenset(['Atlanta', 'Houston']): 700.0,
    frozenset(['Atlanta', 'New York']): 750.0,
    frozenset(['Austin', 'Dallas']): 180.0,
    frozenset(['Austin', 'Houston']): 150.0,
    frozenset(['Boston', 'Chicago']): 850.0,
    frozenset(['Boston', 'Miami']): 1260.0,
    frozenset(['Boston', 'New York']): 190.0,
    frozenset(['Chicago', 'Denver']): 920.0,
    frozenset(['Chicago', 'Houston']): 940.0,
    frozenset(['Chicago', 'Los Angeles']): 1740.0,
    frozenset(['Chicago', 'New York']): 710.0,
    frozenset(['Chicago', 'Seattle']): 1730.0,
    frozenset(['Dallas', 'Denver']): 660.0,
    frozenset(['Dallas', 'Los Angeles']): 1240.0,
    frozenset(['Dallas', 'New York']): 1370.0,
    frozenset(['Denver', 'Los Angeles']): 830.0,
    frozenset(['Denver', 'New York']): 1630.0,
    frozenset(['Denver', 'Seattle']): 1020.0,
    frozenset(['Houston', 'Los Angeles']): 1370.0,
    frozenset(['Houston', 'Miami']): 970.0,
    frozenset(['Houston', 'San Francisco']): 1640.0,
    frozenset(['Los Angeles', 'New York']): 2450.0,
    frozenset(['Los Angeles', 'San Francisco']): 350.0,
    frozenset(['Los Angeles', 'Seattle']): 960.0,
    frozenset(['Miami', 'New York']): 1090.0,
    frozenset(['New York', 'San Francisco']): 2570.0,
    frozenset(['San Francisco', 'Seattle']): 680.0,
}

#### 3. 
Compute the total distance flying from Austin to Houston to San Francisco and compare it to the distance if you fly Austin to Dallas to Los Angeles to San Francisco.
#### 4. 
Add a direct flight between Austin and San Francisco, which is 1500 miles. Update the flight distances data structure to reflect this.
#### 5.
Service from Boston to Miami has been cancelled. Remove it from the flight distances.

<br>
<br>
<br>
<br>
<br>
<br>
### Solution
1.

In [ ]:
flight_distances={}
flight_distances[frozenset(['Atlanta','Chicago'])] = 590.0
flight_distances[frozenset(['Atlanta','Dallas'])] = 720.0
flight_distances

<br>
<br>
2.

In [ ]:
flight_distances[frozenset(['Seattle','Chicago'])]

<br>
<br>
3.

In [ ]:
route_1 = flight_distances[frozenset(['Austin','Houston'])] + flight_distances[frozenset(['Houston','San Francisco'])]

In [ ]:
route_2 = flight_distances[frozenset(['Austin','Dallas'])] + flight_distances[frozenset(['Dallas','Los Angeles'])] + flight_distances[frozenset(['Los Angeles','San Francisco'])]

In [ ]:
print route_1, route_2

<br>
<br>
4.

In [ ]:
flight_distances[frozenset(['Austin','San Francisco'])] = 1500.00
flight_distances[frozenset(['Austin','San Francisco'])]

<br>
<br>
5.

In [ ]:
del flight_distances[frozenset(['Boston','Miami'])]
flight_distances[frozenset(['Boston','Miami'])]

<br> 
<br> 
## List Comprehensions
The easiest way to build a new list by transforming the elements of an existing list is to use a `for` loop

In [ ]:
list_1 = [5, 3, 4, 1, 2]

In [ ]:
cubes = []
for value in list_1:
    cubes.append(value**3)
cubes

This is an acceptable solution, but we could make it more concise, and elegant-

In [ ]:
cubes = [value**3 for value in list_1]
cubes

Now if we had to perform this operation only certain values of the original list-

In [ ]:
list_1 = [5, 3, 4, 1, 2]
filtered_cubes=[]
for value in list_1:
    if value < 4:
        filtered_cubes.append(value**3)
filtered_cubes

With list comprehensions we can handle all this code more elegantly-

In [ ]:
list_1 = [5, 3, 4, 1, 2]
filtered_cubes = [value**3 for value in list_1 if value < 4]
filtered_cubes

You can run the same set of operations for `sets` and `dictionaries`

In [ ]:
filtered_cubes_set = {value**3 for value in list_1 if value < 4}
filtered_cubes_set

In [ ]:
filtered_cubes_dict = {value: value**3 for value in list_1 if value < 4}
filtered_cubes_dict

### Exercises!
1. From the last question of the previous exercise set. Use the same string (lyrics). Print all words beginning with `r`, but only use list comprehension this time.
   *Hint: You can use the function `startswith` on a string to get words that begin with a certain character*
2. There are a bunch of repetitions. Lets get rid of them by using a compound data-structure that will enforce uniqueness. After using this data-structure, print out the unique set of words.
3. Rather than build a list and then use another data-structure to enforce uniqueness, try using the data-structure, that enforces uniqueness, in your list comprehension statement.
4. Use a dictionary to print all unique words that start with `r` and print their frequencies as well
<br>
<br>
<br>
<br>
<br>
<br>

### Solutions
1.