In [1]:
log_file = open('/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data/short_logs.crv')
                
# The first line is a header that has all the log names:
header = log_file.readline()
log_names = header.split()
log_count = len(log_names)

# Read in each row of values, converting them to floats as
# they are read in.  Assign them to the log name for their
# particular column:
logs = {}

# Initialize the logs dictionary so that it contains the log names
# as keys, and an empty list for the values.
for name in log_names:
    logs[name] = []

for line in log_file:
    values = [float(val) for val in line.split()]
    for i, name in enumerate(log_names):
        logs[name].append(values[i])

log_file.close()

# output the first 10 values for the DEPTH log.

print 'DEPTH:', logs['DEPTH'][:10]

DEPTH: [8744.5, 8745.0, 8745.5, 8746.0, 8746.5, 8747.0, 8747.5, 8748.0, 8748.5, 8749.0]

#### Q2.
The files aapl\*, msft\* contain trading data.  Data is
arranged in the file is in comma seprarated format-

    Date,Open,High,Low,Close,Volume,Adj Close
    2015-10-21,114.00,115.580002,113.699997,113.760002,41795200,113.760002
    2015-10-20,111.339996,114.169998,110.82,113.769997,48778800,113.769997
    2015-10-19,110.800003,111.75,110.110001,111.730003,29606100,111.730003
    2015-10-16,111.779999,112.00,110.529999,111.040001,38236300,111.040001
    2015-10-15,110.93,112.099998,110.489998,111.860001,37341000,111.860001

In this exercise you will write two functions: one that reads
in data from files of this format, and one which writes data
out to files of this format.
##### a)
You should be able to provide a name of the company such as- `aapl` alongwith the directory where the files might be located, and let the read function discover all the files. 
The data read in should be stored in a `dict` object and keyed on the date.
##### b) 
Append all `dict` objects together.
##### c) 
Write a function that accepts name of the company such as - `aapl` and a `dict` object with all the financial data concatenated. 
This function should write out all the data to a single file with the name such as- 
`aapl-mmmyy-mmmyy.csv`

In [3]:
import glob

In [4]:
############################## THIS IS HOMEWORK
############################## THIS IS HOMEWORK
############################## THIS IS HOMEWORK
############################## THIS IS HOMEWORK
############################## THIS IS HOMEWORK
############################## THIS IS HOMEWORK

# create function that pulls files based off directory and first few things
def read_files_that_start_with(path_name, subscript):
    """read_files_that_start_with looks within your path name for any files that start with your inputted subscript
    BOTH INPUTS MUST BE WITHIN ""
    path_name MUST start with a /
    EXAMPLE: read_files_that_start_with("/File/path/here","startswith")
    """
    final_file_name = path_name
    final_file_name += "/"
    final_file_name += subscript
    final_file_name += "*"
    return (glob.glob(final_file_name))

In [5]:
# Use functions to create a list with all files that start with subscript within a file name
files_aapl = read_files_that_start_with('/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data','aapl')
files_msft = read_files_that_start_with('/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data','msft')

In [6]:
files_msft

['/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data/msft-1-jan15-oct15.csv',
 '/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data/msft-2-jan14-dec14.csv',
 '/Users/Gian/GitHub/programming-for-analytics-course-material 9.27.13 PM/data/msft-3-mar86-dec13.csv']

In [55]:
# We create ONE list with 3 different columns. Each column relates to each entire file.
list_of_msft_df = []
for i in files_msft:
    j = pd.read_csv(i,infer_datetime_format = True)
    list_of_msft_df.append(j)

In [56]:
# Check that this list has 3 values in it (each corresponding to each of the 3 files)
len(list_of_msft_df)

3

In [57]:
# This is the first element, aka the first file which corresponds to year 2015
list_of_msft_df[0]

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-10-21,47.919998,47.990002,47.110001,47.200001,25144300,47.200001
1,2015-10-20,47.439999,47.810001,47.020000,47.770000,30574000,47.770000
2,2015-10-19,47.419998,47.880001,47.020000,47.619999,29106800,47.619999
3,2015-10-16,47.020000,47.540001,46.900002,47.509998,25779300,47.509998
4,2015-10-15,47.009998,47.029999,46.529999,47.009998,27118900,47.009998
5,2015-10-14,46.650002,47.099998,46.529999,46.680000,24645400,46.680000
6,2015-10-13,46.560001,47.130001,46.560001,46.889999,18937100,46.889999
7,2015-10-12,46.980000,47.070000,46.500000,47.000000,19734100,47.000000
8,2015-10-09,47.450001,47.540001,46.919998,47.110001,28397400,47.110001
9,2015-10-08,46.560001,47.520000,46.500000,47.450001,33679300,47.450001
10,2015-10-07,47.099998,47.349998,45.950001,46.799999,27381400,46.799999
11,2015-10-06,46.330002,47.180000,46.220001,46.750000,27017200,46.750000
12,2015-10-05,45.750000,46.889999,45.700001,46.630001,33015500,46.630001
13,2015-10-02,44.270000,45.570000,43.919998,45.570000,41571500,45.570000
14,2015-10-01,44.750000,44.750000,43.750000,44.610001,28470400,44.610001
15,2015-09-30,43.880001,44.299999,43.660000,44.259998,34589500,44.259998
16,2015-09-29,43.369999,43.570000,43.049999,43.439999,32654000,43.439999
17,2015-09-28,43.830002,44.090000,43.209999,43.290001,27219400,43.290001
18,2015-09-25,44.480000,44.730000,43.759998,43.939999,29177300,43.939999
19,2015-09-24,43.450001,44.130001,43.270000,43.910000,27652700,43.910000
20,2015-09-23,43.930000,44.169998,43.509998,43.869999,17057200,43.869999
21,2015-09-22,43.380001,44.049999,43.310001,43.900002,27824100,43.900002
22,2015-09-21,43.619999,44.470001,43.599998,44.110001,26075400,44.110001
23,2015-09-18,43.500000,43.990002,43.330002,43.480000,62221600,43.480000
24,2015-09-17,44.290001,45.000000,44.080002,44.250000,29817900,44.250000
25,2015-09-16,43.970001,44.380001,43.840000,44.299999,23256700,44.299999
26,2015-09-15,43.189999,44.290001,43.080002,43.980000,28662100,43.980000
27,2015-09-14,43.430000,43.439999,42.860001,43.040001,23633300,43.040001
28,2015-09-11,43.139999,43.590000,42.939999,43.480000,26184400,43.480000
29,2015-09-10,43.119999,43.790001,42.750000,43.290001,31234200,43.290001
...,...,...,...,...,...,...,...
173,2015-02-13,43.380001,43.869999,43.150002,43.869999,40264900,42.995207
174,2015-02-12,42.660000,43.090000,42.509998,43.090000,33268800,42.230762
175,2015-02-11,42.650002,42.650002,42.209999,42.380001,38262500,41.534920
176,2015-02-10,42.740002,42.770000,42.180000,42.599998,29670700,41.750531
177,2015-02-09,42.240002,42.740002,42.209999,42.360001,31381100,41.515319
178,2015-02-06,42.680000,42.790001,42.150002,42.410000,34311700,41.564321
179,2015-02-05,42.220001,42.639999,41.860001,42.450001,36548200,41.603524
180,2015-02-04,41.939999,42.209999,41.360001,41.840000,41614800,41.005687
181,2015-02-03,41.630001,41.930000,41.049999,41.599998,52082400,40.770471
182,2015-02-02,40.590000,41.369999,40.230000,41.279999,50352500,40.456853
183,2015-01-30,41.549999,41.580002,40.349998,40.400002,78004900,39.594403
184,2015-01-29,40.930000,42.119999,40.790001,42.009998,63585300,41.172296
185,2015-01-28,42.740002,42.790001,41.160000,41.189999,84507100,40.368647
186,2015-01-27,42.950001,43.200001,42.110001,42.660000,169164000,41.809336
187,2015-01-26,47.000000,47.130001,46.240002,47.009998,42525500,46.072593
188,2015-01-23,47.360001,47.389999,46.799999,47.180000,26211600,46.239205
189,2015-01-22,46.380001,47.139999,46.080002,47.130001,35898000,46.190203
190,2015-01-21,45.939999,46.139999,45.480000,45.919998,39081100,45.004328
191,2015-01-20,46.299999,46.650002,45.570000,46.389999,36161900,45.464957
192,2015-01-16,45.310001,46.279999,45.169998,46.240002,35695300,45.317950
193,2015-01-15,46.220001,46.380001,45.410000,45.480000,32742300,44.573103
194,2015-01-14,45.959999,46.240002,45.619999,45.959999,29719600,45.043531
195,2015-01-13,46.970001,47.910000,46.060001,46.360001,35270600,45.435556
196,2015-01-12,47.419998,47.540001,46.360001,46.599998,23651900,45.670769
197,2015-01-09,47.610001,47.820000,46.900002,47.189999,23942800,46.249004
198,2015-01-08,46.750000,47.750000,46.720001,47.590000,29645200,46.641029
199,2015-01-07,45.980000,46.459999,45.490002,46.230000,29114100,45.308148
200,2015-01-06,46.380001,46.750000,45.540001,45.650002,36447900,44.739715
201,2015-01-05,46.369999,46.730000,46.250000,46.330002,39673900,45.406156
202,2015-01-02,46.660000,47.419998,46.540001,46.759998,27913900,45.827578

In [54]:
# Create a list all_dict of 3 different dictionaries we are calling dict_for_df
# As a check, print the length of each dictionary
all_dict = []

# For every data frame in this list of data frames
for df in list_of_msft_df:
    # Create a dictionary for each data frame
    dict_for_df = {}
    # For every row, assign the first column value to date then all the rest of the column values to price
    for row in df.iterrows():
        date = row[1][0]
        price = row[1][1:]
        # Create a dictionary where date is the key and price is the values
        dict_for_df[date] = price
    # Create the list with all 3 dictionaries
    all_dict.append(dict_for_df)
    print("Length of dict_for_df:", len(dict_for_df))

# Create a combined dictionary
combined_dict = {}

# For every dictionary in the list of dictionaries
for each_dict in all_dict:
    # Go through every key and value of the tuple returned by .items()
    for k, v in each_dict.items():
        # And assign these keys and values into our combined dictionary
        combined_dict[k] = v
# Check our combined dictionary length to see if it is indeed the size of adding all 3 dictionaries together
print("Length of combined_dict:", len(combined_dict))

('Length of dict_for_df:', 203)
('Length of dict_for_df:', 252)
('Length of dict_for_df:', 7011)
('Length of combined_dict:', 7466)

In [ ]:
# NOW CREATE FILE FROM THE COMBINED FILES. MUCH FASTER TO CREATE A FILE STRAIGHT FROM THE FILES INSTEAD OF
# TRYING TO DO THROUGH DICTIONARIES

# Initialize list
write_list_of_text = []
# go through every file name and add every line into our list. We will have 3 items in the list (for 3 files)
# and every item in that list will have its own list of data
for filename in files_msft:
    with open (filename, 'r') as f:
        write_list_of_text.append(f.readlines())

# Create another list so that we can take every line of text from all three elements in write_list_of_text
# This will make a final list that has every line of text from all 3 files.
combined_final_text = []
for s in write_list_of_text:
    combined_final_text += s[1:] # same as write_list_of_text[0][1:] + write_list_of_text[1][1:] + write_list_of_text[2][1:]
# Here we add the column names
combined_final_text = [write_list_of_text[0][0]] + combined_final_text

# Write file
with open("/Users/Gian/GitHub/Giancarlo-Programming-for-Analytics/Assignments/financial_table.csv", "w") as f:
    f.writelines(combined_final_text)

In [ ]:
# This is another way to do the same thing just to check

# Create a list that will have every line of text from all 3 files
combined_final_text = []
# We go through every file in our list of 3 files, open them, read their lines, and add them to combined_final_text
for filename in files_msft:
    with open (filename, 'r') as f:
        combined_final_text += f.readlines()[1:]

# Now we need to create the header which is the first (aka 0th row) of data and add it to the beginning of our list
with open (filename, 'r') as f:
    header = f.readlines()[0]
combined_final_text = [header] + combined_final_text

# Now write file
with open("/Users/Gian/GitHub/Giancarlo-Programming-for-Analytics/Assignments/financial_table.csv", "w") as f:
    f.writelines(combined_final_text)

In [64]:
# This is to check if my combined dictionary has all these keys and values
combined_dict

{'2008-11-17': Open            19.74
 High            20.24
 Low             19.15
 Close           19.32
 Volume       97289000
 Adj Close     16.1113
 Name: 1288, dtype: object, '2008-11-14': Open            20.56
 High            21.34
 Low             19.65
 Close           20.06
 Volume       96624500
 Adj Close     16.7284
 Name: 1289, dtype: object, '2008-11-13': Open             20.15
 High             21.25
 Low              18.74
 Close            21.25
 Volume       148413700
 Adj Close      17.7207
 Name: 1290, dtype: object, '2008-11-12': Open            20.89
 High               21
 Low             20.28
 Close            20.3
 Volume       90162300
 Adj Close     16.9285
 Name: 1291, dtype: object, '2008-11-11': Open            21.29
 High             21.3
 Low             20.79
 Close            21.2
 Volume       78014500
 Adj Close      17.679
 Name: 1292, dtype: object, '2008-11-10': Open            21.85
 High            21.97
 Low             21.19
 Close            21.3
 Volume       67106800
 Adj Close     17.7624
 Name: 1293, dtype: object, '1989-09-15': Open          63.9994
 High          64.5005
 Low           62.5003
 Close         62.7494
 Volume       89148800
 Adj Close     0.30605
 Name: 6122, dtype: object, '1989-09-14': Open          62.7494
 High          64.5005
 Low           62.2498
 Close         63.7502
 Volume       78163200
 Adj Close    0.310931
 Name: 6123, dtype: object, '1989-09-13': Open           60.9998
 High           63.4997
 Low            60.5002
 Close          62.2498
 Volume       181020800
 Adj Close     0.303613
 Name: 6124, dtype: object, '1989-09-12': Open          59.4994
 High          60.9998
 Low           59.2502
 Close         60.2496
 Volume       67795200
 Adj Close    0.293858
 Name: 6125, dtype: object, '2008-11-19': Open             19.63
 High             19.95
 Low              18.25
 Close            18.29
 Volume       103010500
 Adj Close      15.3557
 Name: 1286, dtype: object, '2008-11-18': Open              19.5
 High             19.66
 Low              18.75
 Close            19.62
 Volume       108966500
 Adj Close      16.4723
 Name: 1287, dtype: object, '2004-05-27': Open            26.16
 High            26.19
 Low             25.92
 Close           26.19
 Volume       49071900
 Adj Close     18.5569
 Name: 2415, dtype: object, '2004-05-26': Open            25.99
 High            26.15
 Low             25.85
 Close           26.14
 Volume       50306900
 Adj Close     18.5214
 Name: 2416, dtype: object, '2004-05-25': Open            25.71
 High            26.19
 Low              25.6
 Close            26.1
 Volume       66615000
 Adj Close     18.4931
 Name: 2417, dtype: object, '2004-05-24': Open            26.05
 High            26.17
 Low             25.74
 Close           25.76
 Volume       56250500
 Adj Close     18.2522
 Name: 2418, dtype: object, '1997-03-21': Open             96.5
 High           97.125
 Low            92.875
 Close              94
 Volume       85829600
 Adj Close     8.25245
 Name: 4222, dtype: object, '1997-03-20': Open           96.625
 High            97.75
 Low            95.375
 Close              96
 Volume       81410400
 Adj Close     8.42804
 Name: 4223, dtype: object, '2004-05-21': Open            25.97
 High             26.2
 Low             25.78
 Close           25.89
 Volume       57809300
 Adj Close     18.3443
 Name: 2419, dtype: object, '2004-05-20': Open            25.75
 High            25.87
 Low             25.59
 Close           25.73
 Volume       52089900
 Adj Close     18.2309
 Name: 2420, dtype: object, '2004-05-28': Open            26.14
 High            26.35
 Low             26.02
 Close           26.23
 Volume       37393000
 Adj Close     18.5852
 Name: 2414, dtype: object, '1986-07-07': Open          31.2509
 High          31.2509
 Low            30.001
 Close          30.001
 Volume       14054400
 Adj Close    0.073162
 Name: 6931, dtype: object, '1986-07-01': Open          30.7498
 High          30.7498
 Low           30.4992
 Close         30.7498
 Volume       47577600
 Adj Close    0.074988
 Name: 6934, dtype: object, '1986-07-03': Open          31.0003
 High          31.5014
 Low           31.0003
 Close         31.2509
 Volume       14140800
 Adj Close    0.076211
 Name: 6932, dtype: object, '1986-07-02': Open          30.7498
 High          30.7498
 Low           30.4992
 Close         30.7498
 Volume       52617600
 Adj Close    0.074988
 Name: 6933, dtype: object, '1986-07-09': Open          29.2493
 High          29.2493
 Low           27.7488
 Close         27.9994
 Volume       46137600
 Adj Close    0.068281
 Name: 6929, dtype: object, '1986-07-08': Open           30.001
 High           30.001
 Low           28.9987
 Close         29.2493
 Volume       14256000
 Adj Close    0.071329
 Name: 6930, dtype: object, '1993-03-18': Open          85.7501
 High          86.7501
 Low                85
 Close         85.2499
 Volume       34406400
 Adj Close     1.87107
 Name: 5236, dtype: object, '1993-03-19': Open          85.7501
 High          85.7501
 Low                84
 Close         84.2499
 Volume       45404800
 Adj Close     1.84912
 Name: 5235, dtype: object, '1993-03-15': Open          89.2499
 High          89.2499
 Low                87
 Close          87.625
 Volume       35347200
 Adj Close     1.92319
 Name: 5239, dtype: object, '1993-03-16': Open          88.2499
 High          88.7501
 Low                87
 Close         87.7501
 Volume       36336000
 Adj Close     1.92594
 Name: 5238, dtype: object, '1993-03-17': Open          86.7501
 High          87.5002
 Low           85.2499
 Close          85.375
 Volume       39644800
 Adj Close     1.87381
 Name: 5237, dtype: object, '1993-03-10': Open          84.4998
 High          85.7501
 Low           83.5002
 Close              85
 Volume       26592000
 Adj Close     1.86558
 Name: 5242, dtype: object, '1993-03-11': Open          85.2499
 High          87.7501
 Low                85
 Close         86.4998
 Volume       57779200
 Adj Close      1.8985
 Name: 5241, dtype: object, '1993-03-12': Open               86
 High          89.2499
 Low           85.2499
 Close              89
 Volume       73580800
 Adj Close     1.95337
 Name: 5240, dtype: object, '1999-08-23': Open          84.3125
 High           86.625
 Low            83.875
 Close         86.4375
 Volume       60447000
 Adj Close     30.3541
 Name: 3612, dtype: object, '1999-08-20': Open               84
 High          84.7812
 Low           83.0625
 Close          83.375
 Volume       46072800
 Adj Close     29.2786
 Name: 3613, dtype: object, '1999-08-26': Open           95.375
 High           96.375
 Low           93.6875
 Close          94.625
 Volume       61246000
 Adj Close     33.2293
 Name: 3609, dtype: object, '1999-08-27': Open          95.0625
 High           95.125
 Low            92.375
 Close           93.25
 Volume       41948400
 Adj Close     32.7464
 Name: 3608, dtype: object, '1999-08-24': Open           87.0625
 High              93.5
 Low            87.0625
 Close          92.1875
 Volume       120450000
 Adj Close      32.3733
 Name: 3611, dtype: object, '1999-08-25': Open           93.625
 High               96
 Low           93.1875
 Close         95.3125
 Volume       81877600
 Adj Close     33.4707
 Name: 3610, dtype: object, '1989-09-19': Open          63.7502
 High          63.9994
 Low           62.5003
 Close         62.5003
 Volume       49203200
 Adj Close    0.304835
 Name: 6120, dtype: object, '2014-03-31': Open            40.43
 High             41.5
 Low              40.4
 Close           40.99
 Volume       46886300
 Adj Close     39.3951
 Name: 191, dtype: object, '1989-09-18': Open          62.5003
 High          63.4997
 Low           62.5003
 Close         63.4997
 Volume       39110400
 Adj Close    0.309709
 Name: 6121, dtype: object, '1999-03-09': Open          159.875
 High           164.75
 Low            159.75
 Close         161.812
 Volume       90129600
 Adj Close     28.4117
 Name: 3728, dtype: object, '1999-03-08': Open            155.5
 High          159.234
 Low               155
 Close             159
 Volume       46726000
 Adj Close     27.9179
 Name: 3729, dtype: object, '1994-04-05': Open           85.2499
 High           87.7501
 Low                 85
 Close          87.7501
 Volume       101878400
 Adj Close      1.92594
 Name: 4971, dtype: object, '1994-04-04': Open          82.4998
 High          85.7501
 Low                82
 Close         84.4998
 Volume       73996800
 Adj Close      1.8546
 Name: 4972, dtype: object, '1994-04-07': Open          89.2499
 High          90.1251
 Low           88.7501
 Close         89.7501
 Volume       76630400
 Adj Close     1.96984
 Name: 4969, dtype: object, '1994-04-06': Open          87.5002
 High          89.2499
 Low           87.2499
 Close              89
 Volume       80780800
 Adj Close     1.95337
 Name: 4970, dtype: object, '1999-03-01': Open          149.562
 High          152.562
 Low             149.5
 Close          151.75
 Volume       58332000
 Adj Close     26.6449
 Name: 3734, dtype: object, '1994-04-08': Open           89.7501
 High                90
 Low            86.7501
 Close               87
 Volume       118710400
 Adj Close      1.90948
 Name: 4968, dtype: object, '1999-03-03': Open              149
 High          150.688
 Low           147.062
 Close         149.625
 Volume       76798400
 Adj Close     26.2718
 Name: 3732, dtype: object, '1999-03-02': Open          151.875
 High          154.125
 Low           147.625
 Close         148.562
 Volume       58569600
 Adj Close     26.0852
 Name: 3733, dtype: object, '1999-03-05': Open           154.75
 High          155.375
 Low           153.125
 Close         154.938
 Volume       47302800
 Adj Close     27.2046
 Name: 3730, dtype: object, '1999-03-04': Open          151.125
 High            153.5
 Low           148.125
 Close          152.25
 Volume       61696400
 Adj Close     26.7327
 Name: 3731, dtype: object, '2005-05-31': Open            25.99
 High            26.03
 Low             25.75
 Close            25.8
 Volume       46131100
 Adj Close     20.5626
 Name: 2162, dtype: object, '1992-11-23': Open           90.2499
 High           91.7501
 Low            87.2499
 Close          88.4998
 Volume       309884800
 Adj Close       1.9424
 Name: 5315, dtype: object, '1992-11-20': Open               94
 High               95
 Low           93.7501
 Close              95
 Volume       41113600
 Adj Close     2.08506
 Name: 5316, dtype: object, '1992-11-27': Open          91.5002
 High          92.4998
 Low                91
 Close         91.7501
 Volume       17593600
 Adj Close     2.01373
 Name: 5312, dtype: object, '1992-11-25': Open               92
 High          92.4998
 Low           90.2499
 Close         91.1251
 Volume       53152000
 Adj Close     2.00002
 Name: 5313, dtype: object, '1992-11-24': Open           91.2499
 High           92.7501
 Low            89.2499
 Close          91.5002
 Volume       145513600
 Adj Close      2.00825
 Name: 5314, dtype: object, '1996-10-24': Open          134.875
 High          137.375
 Low           133.875
 Close         136.625
 Volume       81417600
 Adj Close     5.99729
 Name: 4324, dtype: object, '1996-10-25': Open          136.625
 High          137.875
 Low           136.125
 Close         136.437
 Volume       53084800
 Adj Close     5.98906
 Name: 4323, dtype: object, '1996-10-21': Open           134.75
 High              136
 Low             133.5
 Close             134
 Volume       71401600
 Adj Close     5.88207
 Name: 4327, dtype: object, '1996-10-22': Open           133.125
 High           133.375
 Low             131.25
 Close            132.5
 Volume       113806400
 Adj Close      5.81622
 Name: 4326, dtype: object, '1996-10-23': Open          132.625
 High           134.75
 Low            131.75
 Close           134.5
 Volume       67443200
 Adj Close     5.90402
 Name: 4325, dtype: object, '1996-10-28': Open          136.688
 High          137.625
 Low            136.25
 Close         136.625
 Volume       51240000
 Adj Close     5.99729
 Name: 4322, dtype: object, '1996-10-29': Open          136.875
 High          137.375
 Low           134.875
 Close         135.375
 Volume       66756800
 Adj Close     5.94243
 Name: 4321, dtype: object, '1997-03-25': Open           90.625
 High           91.375
 Low            88.875
 Close         90.3125
 Volume       89701600
 Adj Close     7.92872
 Name: 4220, dtype: object, '1997-03-24': Open            93.125
 High              93.5
 Low             87.625
 Close           90.125
 Volume       186269600
 Adj Close      7.91226
 Name: 4221, dtype: object, '1997-03-27': Open           95.125
 High           96.125
 Low                91
 Close           93.75
 Volume       93919200
 Adj Close     8.23051
 Name: 4218, dtype: object, '2009-02-12': Open            18.97
 High            19.32
 Low             18.54
 Close           19.26
 Volume       75323200
 Adj Close       16.17
 Name: 1229, dtype: object, '1997-03-26': Open            90.75
 High           94.625
 Low            90.625
 Close           94.25
 Volume       81270400
 Adj Close      8.2744
 Name: 4219, dtype: object, '2004-07-30': Open            28.45
 High            28.81
 Low             28.33
 Close           28.49
 Volume       59552900
 Adj Close     20.1865
 Name: 2372, dtype: object, '2012-02-24': Open            31.48
 High             31.5
 Low             31.24
 Close           31.48
 Volume       35575400
 Adj Close     28.5329
 Name: 465, dtype: object, '2001-08-30': Open            59.04
 High            59.66
 Low             56.52
 Close           56.94
 Volume       97632000
 Adj Close     19.9955
 Name: 3101, dtype: object, '2001-08-31': Open            56.85
 High            58.06
 Low              56.3
 Close           57.05
 Volume       57900800
 Adj Close     20.0341
 Name: 3100, dtype: object, '2009-02-17': Open            18.49
 High             18.5
 Low             17.89
 Close           18.09
 Volume       75853300
 Adj Close     15.2919
 Name: 1227, dtype: object, '1990-11-30': Open          71.2498
 High            74.25
 Low           70.5002
 Close         72.2498
 Volume       72163200
 Adj Close    0.704773
 Name: 5816, dtype: object, '1993-07-19': Open           79.5002
 High           80.2499
 Low                 78
 Close          78.7501
 Volume       122435200
 Adj Close      1.72841
 Name: 5152, dtype: object, '1993-07-12': Open          84.7501
 High          84.7501
 Low           83.5002
 Close         83.7501
 Volume       26540800
 Adj Close     1.83815
 Name: 5157, dtype: object, '1993-07-13': Open               84
 High               84
 Low           82.4998
 Close         82.7501
 Volume       36476800
 Adj Close      1.8162
 Name: 5156, dtype: object, '1993-07-14': Open               83
 High          85.5002
 Low           82.4998
 Close         84.2499
 Volume       43491200
 Adj Close     1.84912
 Name: 5155, dtype: object, '1993-07-15': Open          84.2499
 High          84.2499
 Low           82.7501
 Close         83.5002
 Volume       34432000
 Adj Close     1.83266
 Name: 5154, dtype: object, '1993-07-16': Open          83.2499
 High          83.2499
 Low           80.7501
 Close         81.1251
 Volume       86217600
 Adj Close     1.78053
 Name: 5153, dtype: object, '1990-01-19': Open          95.2502
 High          96.0005
 Low           93.5006
 Close         94.1256
 Volume       99257600
 Adj Close    0.459082
 Name: 6035, dtype: object, '1990-01-18': Open           89.6256
 High           94.9997
 Low            89.5003
 Close          94.9997
 Volume       292361600
 Adj Close     0.463345
 Name: 6036, dtype: object, '1990-01-15': Open          85.7506
 High          87.0005
 Low           85.2494
 Close          86.125
 Volume       62467200
 Adj Close     0.42006
 Name: 6039, dtype: object, '1990-01-17': Open          87.9998
 High          90.4997
 Low           87.0005
 Close         87.5002
 Volume       97587200
 Adj Close    0.426768
 Name: 6037, dtype: object, '1990-01-16': Open             85.5
 High          89.2498
 Low           84.5006
 Close         88.7501
 Volume       80092800
 Adj Close    0.432864
 Name: 6038, dtype: object, '1990-01-11': Open          88.7501
 High          89.5003
 Low           85.0003
 Close         86.4994
 Volume       95772800
 Adj Close    0.421886
 Name: 6041, dtype: object, '1990-01-10': Open                90
 High           91.2499
 Low            88.1251
 Close          88.2504
 Volume       103766400
 Adj Close     0.430427
 Name: 6042, dtype: object, '1990-01-12': Open           85.1256
 High           87.2496
 Low            83.9995
 Close           86.125
 Volume       148908800
 Adj Close      0.42006
 Name: 6040, dtype: object, '1994-08-09': Open               53
 High           53.875
 Low           52.7501
 Close            53.5
 Volume       40198400
 Adj Close     2.34844
 Name: 4884, dtype: object, '1994-08-08': Open           52.375
 High               53
 Low                52
 Close              53
 Volume       34537600
 Adj Close     2.32649
 Name: 4885, dtype: object, '1994-08-05': Open           52.625
 High           52.875
 Low           52.2499
 Close            52.5
 Volume       31204800
 Adj Close     2.30454
 Name: 4886, dtype: object, '1994-08-04': Open             53.5
 High           53.625
 Low           52.7501
 Close         52.7501
 Volume       40192000
 Adj Close     2.31552
 Name: 4887, dtype: object, '1994-08-01': Open           51.625
 High           53.625
 Low              51.5
 Close          53.375
 Volume       83934400
 Adj Close     2.34295
 Name: 4890, dtype: object, '1994-08-03': Open          53.7501
 High               54
 Low            53.125
 Close          53.375
 Volume       58771200
 Adj Close     2.34295
 Name: 4888, dtype: object, '1994-08-02': Open          53.7501
 High           54.625
 Low            52.625
 Close         52.8125
 Volume       95249600
 Adj Close     2.31826
 Name: 4889, dtype: object, '2009-10-30': Open            28.03
 High             28.4
 Low             27.66
 Close           27.73
 Volume       73371800
 Adj Close     23.7223
 Name: 1048, dtype: object, '2011-06-30': Open            25.74
 High               26
 Low             25.66
 Close              26
 Volume       52535400
 Adj Close     23.0911
 Name: 629, dtype: object, '1997-05-05': Open           119.625
 High            120.75
 Low              115.5
 Close          120.188
 Volume       111063200
 Adj Close      10.5515
 Name: 4192, dtype: object, '2001-03-28': Open           57.375
 High          57.9375
 Low            55.375
 Close         55.5625
 Volume       78681600
 Adj Close     19.5118
 Name: 3209, dtype: object, '2001-03-29': Open           55.375
 High          57.1875
 Low           54.5625
 Close          55.375
 Volume       86985000
 Adj Close     19.4459
 Name: 3208, dtype: object, '2004-03-30': Open            25.21
 High            25.33
 Low             25.03
 Close            25.2
 Volume       59010400
 Adj Close     17.8554
 Name: 2456, dtype: object, '2004-03-31': Open             25.2
 High             25.2
 Low             24.87
 Close           24.93
 Volume       70533200
 Adj Close     17.6641
 Name: 2455, dtype: object, '2005-11-25': Open             27.8
 High            27.94
 Low             27.47
 Close           27.76
 Volume       44082500
 Adj Close     22.2554
 Name: 2037, dtype: object, '1989-01-26': Open          52.6248
 High          54.4997
 Low           52.4995
 Close         54.2506
 Volume       87132800
 Adj Close    0.264598
 Name: 6283, dtype: object, '1989-01-27': Open           54.1253
 High           56.4998
 Low            53.7494
 Close          55.3752
 Volume       166419200
 Adj Close     0.270083

In [61]:
# This is to check if I'm pulling the right dictionary
list_of_msft_df[1]

,Date,Open,High,Low,Close,Volume,Adj Close
0,2014-12-31,46.730000,47.439999,46.450001,46.450001,21552500,45.523762
1,2014-12-30,47.439999,47.619999,46.840000,47.020000,16384700,46.082396
2,2014-12-29,47.700001,47.779999,47.259998,47.450001,14439500,46.503821
3,2014-12-26,48.410000,48.410000,47.820000,47.880001,13197800,46.925247
4,2014-12-24,48.639999,48.639999,48.080002,48.139999,11437800,47.180061
5,2014-12-23,48.369999,48.799999,48.130001,48.450001,23648100,47.483881
6,2014-12-22,47.779999,48.119999,47.709999,47.980000,26566000,47.023252
7,2014-12-19,47.630001,48.099998,47.169998,47.660000,64551200,46.709633
8,2014-12-18,46.580002,47.520000,46.340000,47.520000,40105600,46.572425
9,2014-12-17,45.049999,45.950001,44.900002,45.740002,34970900,44.827921
10,2014-12-16,45.900002,46.340000,45.130001,45.160000,47801400,44.259484
11,2014-12-15,47.200001,47.669998,46.549999,46.669998,29247800,45.739372
12,2014-12-12,46.779999,47.730000,46.669998,46.950001,34248400,46.013792
13,2014-12-11,47.080002,47.740002,46.680000,47.169998,29060400,46.229402
14,2014-12-10,47.580002,47.660000,46.700001,46.900002,30431800,45.964789
15,2014-12-09,47.110001,47.919998,47.049999,47.590000,24330500,46.641029
16,2014-12-08,48.259998,48.349998,47.450001,47.700001,26663100,46.748836
17,2014-12-05,48.820000,48.970001,48.380001,48.419998,27313400,47.454477
18,2014-12-04,48.389999,49.060001,48.200001,48.840000,30320400,47.866103
19,2014-12-03,48.439999,48.500000,47.810001,48.080002,23534800,47.121260
20,2014-12-02,48.840000,49.049999,48.200001,48.459999,25743000,47.493680
21,2014-12-01,47.880001,48.779999,47.709999,48.619999,31191600,47.650489
22,2014-11-28,47.950001,48.200001,47.610001,47.810001,21534400,46.856643
23,2014-11-26,47.490002,47.990002,47.279999,47.750000,27163600,46.797838
24,2014-11-25,47.660000,47.970001,47.450001,47.470001,28007900,46.523423
25,2014-11-24,47.990002,48.000000,47.389999,47.590000,35434200,46.641029
26,2014-11-21,49.020000,49.049999,47.570000,47.980000,42883100,47.023252
27,2014-11-20,48.000000,48.700001,47.869999,48.700001,21500700,47.728896
28,2014-11-19,48.660000,48.750000,47.930000,48.220001,26176800,47.258468
29,2014-11-18,49.130001,49.330002,48.700001,48.740002,23995500,47.768099
...,...,...,...,...,...,...,...
222,2014-02-13,37.330002,37.860001,37.330002,37.610001,37635500,35.877614
223,2014-02-12,37.349998,37.599998,37.299999,37.470001,27051800,35.744063
224,2014-02-11,36.880001,37.259998,36.860001,37.169998,32141400,35.457878
225,2014-02-10,36.630001,36.799999,36.290001,36.799999,26767000,35.104922
226,2014-02-07,36.320000,36.590000,36.009998,36.560001,33260500,34.875979
227,2014-02-06,35.799999,36.250000,35.689999,36.180000,35351800,34.513482
228,2014-02-05,36.290001,36.470001,35.799999,35.820000,55814400,34.170063
229,2014-02-04,36.970001,37.189999,36.250000,36.349998,54697900,34.675649
230,2014-02-03,37.740002,37.990002,36.430000,36.480000,64063100,34.799662
231,2014-01-31,36.950001,37.889999,36.560001,37.840000,93162300,36.097019
232,2014-01-30,36.790001,36.880001,36.230000,36.860001,35036300,35.162160
233,2014-01-29,35.980000,36.880001,35.900002,36.660000,52745900,34.971372
234,2014-01-28,36.119999,36.389999,35.750000,36.270000,36205500,34.599336
235,2014-01-27,36.869999,36.889999,35.980000,36.029999,44420800,34.370390
236,2014-01-24,37.450001,37.549999,36.529999,36.810001,76395500,35.114464
237,2014-01-23,36.090000,36.130001,35.520000,36.060001,43954000,34.399010
238,2014-01-22,36.259998,36.320000,35.750000,35.930000,21904300,34.274997
239,2014-01-21,36.820000,36.820000,36.060001,36.169998,31567300,34.503940
240,2014-01-17,36.830002,36.830002,36.150002,36.380001,46267500,34.704270
241,2014-01-16,36.689999,37.000000,36.310001,36.889999,38018700,35.190777
242,2014-01-15,35.900002,36.790001,35.849998,36.759998,44812600,35.066764
243,2014-01-14,34.730000,35.880001,34.630001,35.779999,41623300,34.131905
244,2014-01-13,35.990002,36.020000,34.830002,34.980000,45901900,33.368755
245,2014-01-10,35.900002,36.150002,35.750000,36.040001,40548800,34.379931
246,2014-01-09,35.880001,35.910000,35.400002,35.529999,36516300,33.893420
247,2014-01-08,36.000000,36.139999,35.580002,35.759998,59971700,34.112826
248,2014-01-07,36.330002,36.490002,36.209999,36.410000,35802800,34.732887
249,2014-01-06,36.849998,36.889999,36.110001,36.130001,43603700,34.465786
250,2014-01-03,37.200001,37.220001,36.599998,36.910000,31134800,35.209856
251,2014-01-02,37.349998,37.400002,37.099998,37.160000,30632200,35.448341

In [53]:
# This is to check that I am calling tyopes and printing them out correctly
for k, v in each_dict.items():
    print(k, v)

('2015-05-01', Open            48.58
High            48.88
Low              48.4
Close           48.66
Volume       38937300
Adj Close     48.0291
Name: 120, dtype: object)
('2015-02-05', Open            42.22
High            42.64
Low             41.86
Close           42.45
Volume       36548200
Adj Close     41.6035
Name: 179, dtype: object)
('2015-05-07', Open            46.27
High            47.09
Low             46.16
Close            46.7
Volume       32971700
Adj Close     46.0945
Name: 116, dtype: object)
('2015-05-06', Open            47.57
High            47.77
Low             46.02
Close           46.28
Volume       52433000
Adj Close     45.6799
Name: 117, dtype: object)
('2015-05-05', Open            47.82
High            48.16
Low             47.31
Close            47.6
Volume       50369200
Adj Close     46.9828
Name: 118, dtype: object)
('2015-05-04', Open            48.37
High            48.87
Low             48.18
Close           48.24
Volume       34039500
Adj Close     47.6145
Name: 119, dtype: object)
('2015-05-08', Open            47.55
High            47.98
Low             47.52
Close           47.75
Volume       35364900
Adj Close     47.1309
Name: 115, dtype: object)
('2015-01-28', Open            42.74
High            42.79
Low             41.16
Close           41.19
Volume       84507100
Adj Close     40.3686
Name: 185, dtype: object)
('2015-07-16', Open            46.01
High            46.69
Low             45.97
Close           46.66
Volume       26271700
Adj Close     46.3543
Name: 68, dtype: object)
('2015-07-17', Open            46.55
High            46.78
Low             46.26
Close           46.62
Volume       29467100
Adj Close     46.3146
Name: 67, dtype: object)
('2015-07-14', Open            45.45
High            45.96
Low             45.31
Close           45.62
Volume       22880300
Adj Close     45.3211
Name: 70, dtype: object)
('2015-07-15', Open            45.68
High            45.89
Low             45.43
Close           45.76
Volume       26629600
Adj Close     45.4602
Name: 69, dtype: object)
('2015-01-14', Open            45.96
High            46.24
Low             45.62
Close           45.96
Volume       29719600
Adj Close     45.0435
Name: 194, dtype: object)
('2015-07-13', Open            44.98
High            45.62
Low             44.95
Close           45.54
Volume       28178300
Adj Close     45.2417
Name: 71, dtype: object)
('2015-07-10', Open            45.01
High            45.14
Low             44.57
Close           44.61
Volume       25465800
Adj Close     44.3178
Name: 72, dtype: object)
('2015-03-30', Open             41.1
High            41.54
Low             40.91
Close           40.96
Volume       35049700
Adj Close     40.4289
Name: 143, dtype: object)
('2015-03-31', Open            40.78
High            41.03
Low             40.54
Close           40.66
Volume       34887200
Adj Close     40.1328
Name: 142, dtype: object)
('2015-09-10', Open            43.12
High            43.79
Low             42.75
Close           43.29
Volume       31234200
Adj Close       43.29
Name: 29, dtype: object)
('2015-09-11', Open            43.14
High            43.59
Low             42.94
Close           43.48
Volume       26184400
Adj Close       43.48
Name: 28, dtype: object)
('2015-09-14', Open            43.43
High            43.44
Low             42.86
Close           43.04
Volume       23633300
Adj Close       43.04
Name: 27, dtype: object)
('2015-09-15', Open            43.19
High            44.29
Low             43.08
Close           43.98
Volume       28662100
Adj Close       43.98
Name: 26, dtype: object)
('2015-09-16', Open            43.97
High            44.38
Low             43.84
Close            44.3
Volume       23256700
Adj Close        44.3
Name: 25, dtype: object)
('2015-09-17', Open            44.29
High               45
Low             44.08
Close           44.25
Volume       29817900
Adj Close       44.25
Name: 24, dtype: object)
('2015-09-18', Open             43.5
High            43.99
Low             43.33
Close           43.48
Volume       62221600
Adj Close       43.48
Name: 23, dtype: object)
('2015-04-01', Open             40.6
High            40.76
Low             40.31
Close           40.72
Volume       36865300
Adj Close      40.192
Name: 141, dtype: object)
('2015-04-02', Open            40.66
High            40.74
Low             40.12
Close           40.29
Volume       37487500
Adj Close     39.7676
Name: 140, dtype: object)
('2015-04-06', Open            40.34
High            41.78
Low             40.18
Close           41.55
Volume       39223700
Adj Close     41.0113
Name: 139, dtype: object)
('2015-04-07', Open            41.61
High            41.91
Low             41.31
Close           41.53
Volume       28809400
Adj Close     40.9915
Name: 138, dtype: object)
('2015-01-05', Open            46.37
High            46.73
Low             46.25
Close           46.33
Volume       39673900
Adj Close     45.4062
Name: 201, dtype: object)
('2015-06-01', Open            47.06
High            47.77
Low             46.62
Close           47.23
Volume       28837300
Adj Close     46.9206
Name: 100, dtype: object)
('2015-07-09', Open            44.75
High            45.22
Low              44.5
Close           44.52
Volume       32424700
Adj Close     44.2283
Name: 73, dtype: object)
('2015-07-08', Open            44.44
High             44.9
Low             44.03
Close           44.24
Volume       39785900
Adj Close     43.9502
Name: 74, dtype: object)
('2015-01-09', Open            47.61
High            47.82
Low              46.9
Close           47.19
Volume       23942800
Adj Close      46.249
Name: 197, dtype: object)
('2015-01-08', Open            46.75
High            47.75
Low             46.72
Close           47.59
Volume       29645200
Adj Close      46.641
Name: 198, dtype: object)
('2015-01-07', Open            45.98
High            46.46
Low             45.49
Close           46.23
Volume       29114100
Adj Close     45.3081
Name: 199, dtype: object)
('2015-01-06', Open            46.38
High            46.75
Low             45.54
Close           45.65
Volume       36447900
Adj Close     44.7397
Name: 200, dtype: object)
('2015-07-07', Open            44.34
High            44.49
Low             43.32
Close            44.3
Volume       36435800
Adj Close     44.0098
Name: 75, dtype: object)
('2015-07-06', Open            43.96
High            44.48
Low             43.95
Close           44.39
Volume       23034000
Adj Close     44.0992
Name: 76, dtype: object)
('2015-07-01', Open            44.46
High            45.23
Low              44.1
Close           44.45
Volume       28343900
Adj Close     44.1588
Name: 78, dtype: object)
('2015-01-02', Open            46.66
High            47.42
Low             46.54
Close           46.76
Volume       27913900
Adj Close     45.8276
Name: 202, dtype: object)
('2015-07-02', Open            44.48
High            44.75
Low             44.06
Close            44.4
Volume       21752000
Adj Close     44.1091
Name: 77, dtype: object)
('2015-03-23', Open            42.88
High            43.13
Low             42.78
Close           42.86
Volume       26246100
Adj Close     42.3043
Name: 148, dtype: object)
('2015-03-20', Open            42.56
High            42.98
Low             42.49
Close           42.88
Volume       71904500
Adj Close      42.324
Name: 149, dtype: object)
('2015-03-27', Open            41.12
High            41.43
Low             40.83
Close           40.97
Volume       34401400
Adj Close     40.4388
Name: 144, dtype: object)
('2015-03-26', Open            41.22
High            41.61
Low             40.92
Close           41.21
Volume       37495600
Adj Close     40.6757
Name: 145, dtype: object)
('2015-03-25', Open            42.92
High            42.93
Low             41.44
Close           41.46
Volume       43469900
Adj Close     40.9224
Name: 146, dtype: object)
('2015-03-24', Open            42.78
High            43.17
Low             42.75
Close            42.9
Volume       25513300
Adj Close     42.3438
Name: 147, dtype: object)
('2015-06-02', Open            46.93
High            47.35
Low             46.62
Close           46.92
Volume       21498300
Adj Close     46.6126
Name: 99, dtype: object)
('2015-06-03', Open            47.37
High            47.74
Low             46.82
Close           46.85
Volume       28002200
Adj Close     46.5431
Name: 98, dtype: object)
('2015-09-04', Open            42.81
High            43.04
Low              42.2
Close           42.61
Volume       37124100
Adj Close       42.61
Name: 32, dtype: object)
('2015-09-03', Open            43.41
High            43.98
Low             43.28
Close            43.5
Volume       28053200
Adj Close        43.5
Name: 33, dtype: object)
('2015-09-02', Open            42.36
High            43.38
Low             41.88
Close           43.36
Volume       37490400
Adj Close       43.36
Name: 34, dtype: object)
('2015-09-01', Open            42.17
High            42.59
Low             41.66
Close           41.82
Volume       49194700
Adj Close       41.82
Name: 35, dtype: object)
('2015-06-05', Open            46.31
High            46.52
Low             45.84
Close           46.14
Volume       25438100
Adj Close     45.8377
Name: 96, dtype: object)
('2015-04-17', Open            41.67
High            41.74
Low             41.16
Close           41.62
Volume       42387600
Adj Close     41.0804
Name: 130, dtype: object)
('2015-04-16', Open            41.95
High            42.34
Low             41.82
Close           42.16
Volume       22509700
Adj Close     41.6134
Name: 131, dtype: object)
('2015-06-08', Open             46.3
High            46.43
Low             45.67
Close           45.73
Volume       22121600
Adj Close     45.4304
Name: 95, dtype: object)
('2015-06-09', Open            45.76
High            45.94
Low             45.46
Close           45.65
Volume       24406100
Adj Close     45.3509
Name: 94, dtype: object)
('2015-04-13', Open             41.4
High            42.06
Low             41.39
Close           41.76
Volume       30276700
Adj Close     41.2185
Name: 134, dtype: object)
('2015-09-09', Open            44.21
High             44.4
Low             42.91
Close           43.07
Volume       33318800
Adj Close       43.07
Name: 30, dtype: object)
('2015-09-08', Open             43.3
High               44
Low              43.2
Close           43.89
Volume       32204900
Adj Close       43.89
Name: 31, dtype: object)
('2015-10-05', Open            45.75
High            46.89
Low              45.7
Close           46.63
Volume       33015500
Adj Close       46.63
Name: 12, dtype: object)
('2015-08-11', Open            46.82
High            46.94
Low              45.9
Close           46.41
Volume       29237400
Adj Close      46.106
Name: 50, dtype: object)
('2015-07-30', Open            46.26
High             47.4
Low             45.93
Close           46.88
Volume       39777900
Adj Close     46.5729
Name: 58, dtype: object)
('2015-07-31', Open            47.29
High            47.37
Low              46.5
Close            46.7
Volume       31201500
Adj Close     46.3941
Name: 57, dtype: object)
('2015-10-06', Open            46.33
High            47.18
Low             46.22
Close           46.75
Volume       27017200
Adj Close       46.75
Name: 11, dtype: object)
('2015-05-18', Open            47.98
High            48.22
Low             47.61
Close           48.01
Volume       24136500
Adj Close     47.3875
Name: 109, dtype: object)
('2015-10-01', Open            44.75
High            44.75
Low             43.75
Close           44.61
Volume       28470400
Adj Close       44.61
Name: 14, dtype: object)
('2015-01-12', Open            47.42
High            47.54
Low             46.36
Close            46.6
Volume       23651900
Adj Close     45.6708
Name: 196, dtype: object)
('2015-01-13', Open            46.97
High            47.91
Low             46.06
Close           46.36
Volume       35270600
Adj Close     45.4356
Name: 195, dtype: object)
('2015-02-09', Open            42.24
High            42.74
Low             42.21
Close           42.36
Volume       31381100
Adj Close     41.5153
Name: 177, dtype: object)
('2015-02-06', Open            42.68
High            42.79
Low             42.15
Close           42.41
Volume       34311700
Adj Close     41.5643
Name: 178, dtype: object)
('2015-02-04', Open            41.94
High            42.21
Low             41.36
Close           41.84
Volume       41614800
Adj Close     41.0057
Name: 180, dtype: object)
('2015-10-02', Open            44.27
High            45.57
Low             43.92
Close           45.57
Volume       41571500
Adj Close       45.57
Name: 13, dtype: object)
('2015-02-02', Open            40.59
High            41.37
Low             40.23
Close           41.28
Volume       50352500
Adj Close     40.4569
Name: 182, dtype: object)
('2015-02-03', Open            41.63
High            41.93
Low             41.05
Close            41.6
Volume       52082400
Adj Close     40.7705
Name: 181, dtype: object)
('2015-01-15', Open            46.22
High            46.38
Low             45.41
Close           45.48
Volume       32742300
Adj Close     44.5731
Name: 193, dtype: object)
('2015-06-11', Open            46.66
High            46.92
Low             46.13
Close           46.44
Volume       27347800
Adj Close     46.1358
Name: 92, dtype: object)
('2015-06-10', Open            45.79
High            46.83
Low             45.69
Close           46.61
Volume       28417400
Adj Close     46.3047
Name: 93, dtype: object)
('2015-06-12', Open            46.22
High            46.47
Low              45.9
Close           45.97
Volume       23931000
Adj Close     45.6688
Name: 91, dtype: object)
('2015-06-15', Open            45.45
High            45.65
Low             45.02
Close           45.48
Volume       33254500
Adj Close     45.1821
Name: 90, dtype: object)
('2015-01-16', Open            45.31
High            46.28
Low             45.17
Close           46.24
Volume       35695300
Adj Close      45.318
Name: 192, dtype: object)
('2015-06-17', Open            45.73
High            46.07
Low             45.36
Close           45.97
Volume       28704100
Adj Close     45.6688
Name: 88, dtype: object)
('2015-06-16', Open            45.35
High            46.24
Low              45.3
Close           45.83
Volume       27070300
Adj Close     45.5298
Name: 89, dtype: object)
('2015-06-19', Open            46.79
High            46.83
Low             45.99
Close            46.1
Volume       63837000
Adj Close      45.798
Name: 86, dtype: object)
('2015-06-18', Open            46.22
High             46.8
Low             46.17
Close           46.72
Volume       32658300
Adj Close     46.4139
Name: 87, dtype: object)
('2015-10-21', Open            47.92
High            47.99
Low             47.11
Close            47.2
Volume       25144300
Adj Close        47.2
Name: 0, dtype: object)
('2015-10-20', Open            47.44
High            47.81
Low             47.02
Close           47.77
Volume       30574000
Adj Close       47.77
Name: 1, dtype: object)
('2015-06-04', Open            46.79
High            47.16
Low              46.2
Close           46.36
Volume       27745500
Adj Close     46.0563
Name: 97, dtype: object)
('2015-05-11', Open            47.55
High            47.91
Low             47.37
Close           47.37
Volume       24609400
Adj Close     46.7558
Name: 114, dtype: object)
('2015-07-27', Open            45.94
High            46.01
Low             45.25
Close           45.35
Volume       39701400
Adj Close     45.0529
Name: 61, dtype: object)
('2015-07-24', Open            45.91
High            46.32
Low              45.8
Close           45.94
Volume       32333200
Adj Close      45.639
Name: 62, dtype: object)
('2015-07-23', Open            45.27
High            46.23
Low              45.1
Close           46.11
Volume       33934000
Adj Close     45.8079
Name: 63, dtype: object)
('2015-07-22', Open            45.44
High            46.93
Low              45.2
Close           45.54
Volume       59152400
Adj Close     45.2417
Name: 64, dtype: object)
('2015-07-21', Open            46.78
High            47.33
Low             46.48
Close           47.28
Volume       42781900
Adj Close     46.9703
Name: 65, dtype: object)
('2015-07-20', Open            46.65
High            47.13
Low             46.44
Close           46.92
Volume       30631900
Adj Close     46.6126
Name: 66, dtype: object)
('2015-04-15', Open            41.76
High            42.46
Low             41.68
Close           42.26
Volume       27343600
Adj Close     41.7121
Name: 132, dtype: object)
('2015-07-29', Open             45.4
High            46.78
Low             45.26
Close           46.29
Volume       40945900
Adj Close     45.9867
Name: 59, dtype: object)
('2015-07-28', Open            45.58
High            45.64
Low             44.79
Close           45.34
Volume       34328900
Adj Close      45.043
Name: 60, dtype: object)
('2015-04-14', Open             41.8
High            42.03
Low             41.39
Close           41.65
Volume       24244400
Adj Close       41.11
Name: 133, dtype: object)
('2015-02-19', Open            43.18
High            43.53
Low             43.05
Close            43.5
Volume       27603400
Adj Close      42.936
Name: 170, dtype: object)
('2015-02-18', Open            43.63
High             43.7
Low             43.39
Close           43.53
Volume       27111700
Adj Close     42.9656
Name: 171, dtype: object)
('2015-02-17', Open            43.97
High               44
Low             43.19
Close           43.58
Volume       33695700
Adj Close     43.0149
Name: 172, dtype: object)
('2015-02-27', Open            44.13
High             44.2
Low             43.66
Close           43.85
Volume       33807700
Adj Close     43.2814
Name: 164, dtype: object)
('2015-02-11', Open            42.65
High            42.65
Low             42.21
Close           42.38
Volume       38262500
Adj Close     41.5349
Name: 175, dtype: object)
('2015-02-10', Open            42.74
High            42.77
Low             42.18
Close            42.6
Volume       29670700
Adj Close     41.7505
Name: 176, dtype: object)
('2015-02-13', Open            43.38
High            43.87
Low             43.15
Close           43.87
Volume       40264900
Adj Close     42.9952
Name: 173, dtype: object)
('2015-02-12', Open            42.66
High            43.09
Low             42.51
Close           43.09
Volume       33268800
Adj Close     42.2308
Name: 174, dtype: object)
('2015-06-24', Open            45.67
High            46.25
Low             45.55
Close           45.64
Volume       34890900
Adj Close      45.341
Name: 83, dtype: object)
('2015-06-25', Open            46.03
High            46.06
Low              45.5
Close           45.65
Volume       20616000
Adj Close     45.3509
Name: 82, dtype: object)
('2015-06-26', Open            45.65
High            46.28
Low             45.03
Close           45.26
Volume       49835300
Adj Close     44.9635
Name: 81, dtype: object)
('2015-06-22', Open            46.33
High            46.72
Low             46.16
Close           46.23
Volume       20318100
Adj Close     45.9271
Name: 85, dtype: object)
('2015-06-23', Open            46.13
High            46.28
Low             45.62
Close           45.91
Volume       25896500
Adj Close     45.6092
Name: 84, dtype: object)
('2015-04-10', Open            41.63
High            41.95
Low             41.41
Close           41.72
Volume       28022000
Adj Close     41.1791
Name: 135, dtype: object)
('2015-06-29', Open            45.04
High            45.23
Low             44.36
Close           44.37
Volume       34081700
Adj Close     44.0793
Name: 80, dtype: object)
('2015-05-29', Open            47.43
High            47.57
Low             46.59
Close           46.86
Volume       36519600
Adj Close      46.553

In [28]:
# import this library called pandas which is good for data structures and data analysis
import pandas as pd

### 2. Exercises!
#### Q1
Read in the financial data file you have created as a dataframe (concatenation of all the files for a company).
#### Q2
Provide descriptive statistics for all columns of this data

In [29]:
# Import file we just created as a data frame
Final_question_df = pd.read_csv('/Users/Gian/GitHub/Giancarlo-Programming-for-Analytics/Assignments/financial_table.csv')

In [31]:
# Provide descriptive statistics for all columns of this data frame
Final_question_df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,7466.000000,7466.000000,7466.000000,7466.000000,7.466000e+03,7466.000000
mean,59.369049,60.230804,58.538750,59.413234,6.507268e+07,15.902287
std,33.589476,34.122503,33.054879,33.629037,3.915915e+07,12.659158
min,15.200000,15.620000,14.870000,15.150000,2.304000e+06,0.063407
25%,28.442501,28.742500,28.162500,28.450001,4.280170e+07,1.868327
50%,52.315000,53.249758,51.459999,52.269998,5.783055e+07,18.745886
75%,84.750076,85.750076,83.500160,84.750076,7.758070e+07,24.088133
max,178.937515,180.375000,175.750000,179.937515,1.031789e+09,48.522598